<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Babymate Admin</title>
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
	<meta name="keywords"
		content="Trendz Login Form Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- //Meta tag Keywords -->
	<!--/Style-CSS -->
	<link rel="stylesheet" href="/assets/css/staffloginstyle.css" type="text/css" media="all" />
	<!--//Style-CSS -->
</head>

<body>
	<!-- /login-section -->

	<section class="w3l-forms-23">
		<div class="forms23-block-hny">
			<div class="wrapper">
				<h1>Babymate Admin</h1>
				<!-- if logo is image enable this   
					<a class="logo" href="index.html">
					<img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
					</a> 
				-->
				<div class="d-grid forms23-grids">
					<div class="form23">
						<div class="main-bg">
							<h6 class="sec-one">Admin</h6>
							<div class="speci-login first-look">
								<img th:src="@{/assets/images/user.png}" alt="" class="img-responsive">
							</div>
						</div>
						<div class="bottom-content">
							<form th:action="@{/staff/loginCheck}" method="post">
								<input type="text" name="account" class="input-form" placeholder="請輸入帳號" maxlength="20" autocomplete="username"
									pattern="[A-Za-z0-9]+" title="僅允許數字或英文大小寫" required="required" />
								<input type="password" name="password" class="input-form" placeholder="請輸入密碼" autocomplete="current-password"
									maxlength="20" required="required" />
								<button type="submit" class="loginhny-btn btn">Login</button>
							</form>
							<!-- 錯誤表列 -->
<!-- 								<div class="errorblock" th:utext="${errorMessage}">${errorMessage}</div><br> -->
									<div class="errorblock" th:if="${errorMessage}" th:text="${errorMessage}"></div><br>
									<div class="successblock" th:if="${logoutMessage}" th:text="${logoutMessage}"></div>
							<!--<p>還不是會員嗎? <a href="#">加入我們!</a></p>-->
						</div>
					</div>
				</div>
				<div class="w3l-copy-right text-center">
					<p>© 2025 Babymate</p>
				</div>
			</div>
		</div>
	</section>
	<!-- //login-section -->

</body>

</html>