<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-Hant">
<head>
<meta charset="UTF-8">
<title>編輯寶寶手冊</title>
<link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
</head>

<body class="container py-4">
	<h4 class="mb-3">編輯寶寶手冊</h4>

	<form
		th:action="@{'/blog/u/baby/babyhandbook/' + ${babyhandbookVO.babyhandbookid} + '/edit'}"
		th:object="${babyhandbookVO}" method="post"
		enctype="multipart/form-data" class="row g-3">


 	   <input type="hidden" th:field="*{babyhandbookid}"/>
 	   
		<input type="hidden" th:if="${_csrf != null}"
			th:name="${_csrf?.parameterName}" th:value="${_csrf?.token}">


		<div class="col-md-6">
			<label class="form-label">小孩手冊編號</label> 
			<input
				class="form-control-plaintext fw-semibold"
				th:value="${babyhandbookVO.babyhandbookid}" readonly>
		</div>

		<div class="col-md-6">
			<label class="form-label">小孩姓名</label> 
			<input class="form-control"
				type="text" th:field="*{babyname}" required>
			<div class="text-danger" th:if="${#fields.hasErrors('babyname')}" th:errors="*{babyname}"></div>
		</div>

		<div class="col-md-4">
			<label class="form-label">小孩生日</label> 
			<input class="form-control"
				type="date" th:field="*{babybirthday}">
			<div class="text-danger" th:if="${#fields.hasErrors('babybirthday')}" th:errors="*{babybirthday}"></div>
		</div>

		<div class="col-md-8">
			<label class="form-label">照片</label> <input class="form-control"
				type="file" name="up" accept="image/*">
		</div>
		
		<div class="col-md-4">
    		<label class="form-label">性別</label>
    		<select class="form-select" th:field="*{babygender}">
      			      <option value="男">男</option>
   						 <option value="女">女</option>
    		</select>
   			 <div class="text-danger" th:if="${#fields.hasErrors('babygender')}" th:errors="*{babygender}"></div>
		</div>
		

		<div class="col-12">
			<button class="btn btn-primary" type="submit">儲存</button>
			<a class="btn btn-outline-secondary"
				th:href="@{/blog/full-grid-left-bb(tab='babyhandbook', babyhandbookid=${babyhandbookVO.babyhandbookid})}">
				返回 </a>
		</div>
	</form>

</body>
</html>
