<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-Hant">
<head>
<meta charset="UTF-8">
<title>上傳照片</title>
<link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
</head>
<body class="container py-4">
	<h4 class="mb-3">上傳照片</h4>
	<form th:action="@{/u/album}" method="post"
		enctype="multipart/form-data" class="row g-3">
		<!-- <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/> -->
		<input type="hidden" th:if="${_csrf != null}"
			th:name="${_csrf?.parameterName}" th:value="${_csrf?.token}" />


		<div class="col-md-6">
			<label class="form-label">選擇圖片</label> <input class="form-control"
				type="file" name="file" accept="image/*" required>
		</div>

		<div class="col-md-6">
			<label class="form-label">拍攝時間（可選）</label> <input
				class="form-control" type="datetime-local" name="takenAt"
				th:value="${now}">
		</div>

		<div class="col-12">
			<label class="form-label">說明（可選）</label> <input class="form-control"
				type="text" name="caption" placeholder="想說點什麼…">
		</div>

		<div class="col-12">
			<button class="btn btn-primary" type="submit">上傳</button>
			<a class="btn btn-outline-secondary"
				th:href="@{/blog/full-grid-left(tab='album')}">返回相簿</a>
		</div>
	</form>
</body>
</html>
