








<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>會員資料</title>

<head></head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-success fixed-top justify-content-center">
		 <div align="center"> <h2>會員資料</h2>
		 <h3><a class="navbar-brand" th:href="@{/admin/member/listAllMember}">回查詢頁<label></label></a></h3></div>
</nav>

<!-- 	<div align="center" th:fragment="listOneStaff-div"> 此div被select_page.html第158行insert用 -->
	<div align="center" > <!-- 此div被select_page.html第158行insert用 -->
		<h3><span>查詢結果 :</span></h3>		
		<span>Account:</span><span th:text="${memberVO.account}"></span><br/>
		<span>Password:</span><span th:text="${memberVO.password}"></span><br/>
		<span>Name:</span><span th:text="${memberVO.name}"></span><br/>
		<span>EmailVerified:</span><span th:text="${memberVO.emailVerified}"></span><br/>
		<span>RegisterDate:</span><span th:text="${memberVO.registerDate}"></span><br/>
		<span>LastLoginTime:</span><span th:text="${memberVO.lastLoginTime}"></span><br/>
		<span>Phone:</span><span th:text="${memberVO.phone}"></span><br/>
		<span>RecipientName:</span><span th:text="${memberVO.recipientName}"></span><br/>
		<span>Address:</span><span th:text="${memberVO.address}"></span><br/>
		<span>Gender:</span><span th:text="${memberVO.gender}"></span><br/>
		<span>Birthday:</span><span th:text="${memberVO.birthday}"></span><br/>
		<span>EmailAuthToken:</span><span th:text="${memberVO.emailAuthToken}"></span><br/>
		<span>PwdResetToken:</span><span th:text="${memberVO.pwdResetToken}"></span><br/>
		<span>PwdResetExpire:</span><span th:text="${memberVO.pwdResetExpire}"></span><br/>
		<span>UpdateDate:</span><span th:text="${memberVO.updateDate}"></span><br/>
		<span>照片:</span><span><img th:src="@{/util/DBPicReader1} + '?memberId=' + ${memberVO.memberId}" width="100px"></span><br/>
	</div>


</body>
</html>