<!DOCTYPE html>
<html class="no-js" lang="zh-Hant" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>BabyMate</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Favicon -->
<link rel="icon" href="/assets/images/mother_baby_icon.ico"
	th:href="@{/assets/images/mother_baby_icon.ico}">

<!-- CSS ============================================ -->
<link href="/assets/css/bootstrap.min.css" rel="stylesheet"
	th:href="@{/assets/css/bootstrap.min.css}">
<link href="/assets/css/font-awesome.min.css" rel="stylesheet"
	th:href="@{/assets/css/font-awesome.min.css}">
<link href="/assets/css/ionicons.min.css" rel="stylesheet"
	th:href="@{/assets/css/ionicons.min.css}">
<link href="/assets/css/themify-icons.css" rel="stylesheet"
	th:href="@{/assets/css/themify-icons.css}">
<link href="/assets/css/plugins.css" rel="stylesheet"
	th:href="@{/assets/css/plugins.css}">
<link href="/assets/css/helper.css" rel="stylesheet"
	th:href="@{/assets/css/helper.css}">
<link href="/assets/css/main.css" rel="stylesheet"
	th:href="@{/assets/css/main.css}">

<!-- Modernizer JS -->
<script src="/assets/js/vendor/modernizr-2.8.3.min.js"
	th:src="@{/assets/js/vendor/modernizr-2.8.3.min.js}"></script>
</head>

<body>

	<!-- Header -->
	<header class="header header-offcanvas-about header-sticky">
		<div class="header-bottom pt-md-40 pb-md-40 pt-sm-40 pb-sm-40">
			<div class="container wide">
				<div class="header-bottom-container">

					<!-- logo + offcanvas -->
					<div class="logo-with-offcanvas d-flex">
						<div class="offcanvas-about-icon mr-20 d-none d-lg-block">
							<a href="javascript:void(0)" id="offcanvas-about-icon"><i
								class="ion-navicon"></i></a>
						</div>

						<div class="logo">
							<a href="/" th:href="@{/}"> <img
								src="/assets/images/babymate.png" class="img-fluid" alt=""
								th:src="@{/assets/images/babymate.png}">
							</a>
						</div>
					</div>

					<!-- nav -->
					<div class="header-bottom-navigation">
						<div class="site-main-nav d-none d-lg-block">
							<nav class="site-nav center-menu">
								<ul>
									<li class="menu-item-has-children"><a href="/shop/left"
										th:href="@{/shop/left}">商城</a>
										<ul class="sub-menu single-column-menu">
											<li><a href="/shop/left" th:href="@{/shop/left}">查看所有商品</a></li>
										</ul></li>
									<li class="menu-item-has-children"><a
										href="javascript:void(0)">尋找診所</a>
										<ul class="sub-menu single-column-menu">
											<li><a href="/element/google-maps"
												th:href="@{/element/google-maps}">診所地圖</a></li>
										</ul></li>
									<li class="menu-item-has-children"><a
										href="javascript:void(0)">會員中心</a>
										<ul class="sub-menu single-column-menu">
											<li><a href="/blog/full-grid-left"
												th:href="@{/blog/full-grid-left}">會員儀表板</a></li>
											<li><a href="/my-account" th:href="@{/my-account}">我的訂單</a></li>
											<li><a href="/faq" th:href="@{/faq}">F.A.Q</a></li>
										</ul></li>
									<li class="menu-item-has-children "><a
										href="javascript:void(0)">討論區</a>
										<ul class="sub-menu single-column-menu">
											<li><a href="/blog/standard-left"
												th:href="@{/blog/standard-left}">看板貼文</a></li>
										</ul></li>
								</ul>
							</nav>
						</div>
					</div>

					<!-- right icons -->
					<div class="header-right-container">
						<div
							class="header-right-icons d-flex justify-content-end align-items-center h-100">
							<div class="single-icon search">
								<a href="javascript:void(0)" id="search-icon"><i
									class="ion-ios-search-strong"></i></a>
							</div>
							<div class="single-icon user-login">
								<a href="/shop/login" th:href="@{/shop/login}"><i
									class="ion-android-person"></i></a>
							</div>
							<div class="single-icon wishlist">
								<a href="javascript:void(0)" id="offcanvas-wishlist-icon"> <i
									class="ion-android-favorite-outline"></i><span class="count">2</span>
								</a>
							</div>
							<div class="single-icon cart">
								<a href="javascript:void(0)" id="offcanvas-cart-icon"> <i
									class="ion-ios-cart"></i><span class="count">3</span>
								</a>
							</div>
						</div>
					</div>

				</div>

				<!-- mobile nav -->
				<div class="site-mobile-navigation d-block d-lg-none">
					<div id="dl-menu" class="dl-menuwrapper site-mobile-nav">
						<!--Site Mobile Menu Toggle Start-->
						<button class="dl-trigger hamburger hamburger--spin">
							<span class="hamburger-box"> <span class="hamburger-inner"></span>
							</span>
						</button>
						<!--Site Mobile Menu Toggle End-->
						<ul class="dl-menu dl-menu-toggle">
							<li><a href="#">商城</a>
								<ul class="dl-submenu">
									<li class=""><a href="/shop/left" th:href="@{/shop/left}">查看所有商品</a></li>
								</ul></li>
							<li><a href="#">尋找診所</a>
								<ul class="dl-submenu">
									<li><a href="/element/google-maps"
										th:href="@{/element/google-maps}">診所地圖</a></li>
								</ul></li>
							<li><a href="#">會員中心</a>
								<ul class="dl-submenu">
									<li><a href="/blog/full-grid-left"
										th:href="@{/blog/full-grid-left}">會員儀表板</a></li>
									<li><a href="my-account.html" th:href="@{/my-account}">我的訂單</a></li>
									<li><a href="faq.html" th:href="@{/faq}">F.A.Q</a></li>
								</ul></li>
							<li><a href="#">討論區</a>
								<ul class="dl-submenu">
									<li><a href="/blog/standard-left"
										th:href="@{/blog/standard-left}">看板貼文</a></li>
								</ul></li>
						</ul>
					</div>
				</div>

			</div>
		</div>
	</header>
	<!-- End Header -->

	<!-- Breadcrumb -->
	<div class="breadcrumb-area breadcrumb-bg-1 pt-50 pb-70 mb-100">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h1 class="breadcrumb-title">會員儀表板</h1>
					<ul class="breadcrumb-list">
						<li class="breadcrumb-list__item"><a href="/" th:href="@{/}">HOME</a>
						</li>
						<li class="breadcrumb-list__item breadcrumb-list__item--active">會員儀表板</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- End Breadcrumb -->

	<!-- page wrapper -->
	<div class="blog-page-wrapper mb-100">
		<div class="container">
			<div class="row">
				<!-- sidebar -->
				<div class="col-lg-3 order-2 order-lg-1">
					<div class="page-sidebar">
						<div class="single-sidebar-widget mb-40">
							<div class="search-widget">
								<form action="#" th:action="@{/}">
									<input type="search" placeholder="搜尋您的育兒與生活紀錄">
									<button type="button">
										<i class="ion-android-search"></i>
									</button>
								</form>
							</div>
						</div>

						<div class="single-sidebar-widget mb-40">
							<h2 class="single-sidebar-widget--title">育兒與生活</h2>
							<ul
								class="single-sidebar-widget--list single-sidebar-widget--list--category">
								<li class="has-children"><a href="/shop/left"
									th:href="@{/shop/left}">媽媽手冊</a>
									<ul>
										<li><a href="/shop/left" th:href="@{/shop/left}">媽媽懷孕紀錄</a></li>
										<li><a href="/shop/left" th:href="@{/shop/left}">身體指數記錄圖表</a></li>
										<li><a href="/shop/left" th:href="@{/shop/left}">代辦事項</a></li>
									</ul></li>
								<li class="has-children"><a href="/shop/left"
									th:href="@{/shop/left}">寶寶手冊</a>
									<ul>
										<li><a href="/shop/left" th:href="@{/shop/left}">寶寶成長紀錄</a></li>
										<li><a href="/shop/left" th:href="@{/shop/left}">寶寶生長圖表</a></li>
										<li><a href="/shop/left" th:href="@{/shop/left}">代辦事項</a></li>
									</ul></li>
								<li><a href="/shop/left" th:href="@{/shop/left}">我的日曆</a></li>
								<li><a href="/shop/left" th:href="@{/shop/left}">我的相簿</a></li>
								<li><a href="/shop/left" th:href="@{/shop/left}">我的日記</a></li>
								<li><a href="/shop/left" th:href="@{/shop/left}">睡眠健康測驗</a></li>
								<li><a href="/shop/left" th:href="@{/shop/left}">通知</a></li>
							</ul>
						</div>

						<div class="single-sidebar-widget mb-40">
							<div class="widget-post-wrapper">
								<div class="single-widget-post">
									<div class="image">
										<img src="/assets/images/blog/post-thumbnail-100x120.png"
											class="img-fluid" alt=""
											th:src="@{/assets/images/blog/post-thumbnail-100x120.png}">
									</div>
									<div class="content">
										<h3 class="widget-post-title">
											<a href="#">Chic Fashion Phenomenon</a>
										</h3>
										<p class="widget-post-date">June 5, 2022</p>
									</div>
								</div>

								<div class="single-widget-post">
									<div class="image">
										<img src="/assets/images/blog/post-thumbnail-6-100x120.png"
											class="img-fluid" alt=""
											th:src="@{/assets/images/blog/post-thumbnail-6-100x120.png}">
									</div>
									<div class="content">
										<h3 class="widget-post-title">
											<a href="#">Go Your Own Way</a>
										</h3>
										<p class="widget-post-date">June 5, 2022</p>
									</div>
								</div>

								<div class="single-widget-post">
									<div class="image">
										<img src="/assets/images/blog/post-thumbnail-9-100x120.png"
											class="img-fluid" alt=""
											th:src="@{/assets/images/blog/post-thumbnail-9-100x120.png}">
									</div>
									<div class="content">
										<h3 class="widget-post-title">
											<a href="#">Home-made Body Lotion</a>
										</h3>
										<p class="widget-post-date">June 5, 2022</p>
									</div>
								</div>
							</div>
						</div>

						<div class="single-sidebar-widget mb-40">
							<div class="blog-sidebar-banner"></div>
						</div>

						<div class="single-sidebar-widget"></div>
					</div>
				</div>

				<!-- main -->
				<div class="col-lg-9 order-1 order-lg-2 mb-md-70 mb-sm-70">
					<div class="row">
						<div class="col-md-12 mb-60">
							<div
								class="single-slider-post single-slider-post--sticky text-center pb-60">

								<!-- category block 1 -->
								<div class="product-category-container mb-100 mb-md-90 mb-sm-90">
									<div class="container wide">
										<div class="row">
											<div class="col-lg-3 col-md-6 col-12">
												<div class="single-category single-category--one wow zoomIn">
													<div
														class="single-category__image single-category__image--one">
														<img src="/assets/images/category/category-women.jpg"
															class="img-fluid" alt=""
															th:src="@{/assets/images/category/category-women.jpg}">
													</div>
													<div
														class="single-category__content single-category__content--one mt-25 mb-25">
														<div class="title">
															<p>媽媽手冊</p>
															<a href="/shop/left" th:href="@{/shop/left}">+ 查看媽媽手冊</a>
														</div>
														<p class="product-count">孕程路上貼心陪伴</p>
													</div>
													<a href="/shop/left" class="banner-link"
														th:href="@{/shop/left}"></a>
												</div>
											</div>

											<div class="col-lg-3 col-md-6 col-12">
												<div class="single-category single-category--one wow zoomIn">
													<div
														class="single-category__content single-category__content--one mt-25 mb-25">
														<div class="title">
															<p>媽媽懷孕紀錄</p>
															<a href="/shop/left" th:href="@{/shop/left}">+ 檢視懷孕紀錄</a>
														</div>
														<p class="product-count">每週變化一目了然</p>
													</div>
													<div
														class="single-category__image single-category__image--one">
														<img src="/assets/images/category/category-shoes.jpg"
															class="img-fluid" alt=""
															th:src="@{/assets/images/category/category-shoes.jpg}">
													</div>
													<a href="/shop/left" class="banner-link"
														th:href="@{/shop/left}"></a>
												</div>
											</div>

											<div class="col-lg-3 col-md-6 col-12">
												<div class="single-category single-category--one wow zoomIn">
													<div
														class="single-category__image single-category__image--one">
														<img src="/assets/images/category/category-bags.jpg"
															class="img-fluid" alt=""
															th:src="@{/assets/images/category/category-bags.jpg}">
													</div>
													<div
														class="single-category__content single-category__content--one mt-25 mb-25">
														<div class="title">
															<p>身體指數紀錄圖表</p>
															<a href="/shop/left" th:href="@{/shop/left}">+ 查看圖表</a>
														</div>
														<p class="product-count">視覺化追蹤才安心</p>
													</div>
													<a href="/shop/left" class="banner-link"
														th:href="@{/shop/left}"></a>
												</div>
											</div>

											<div class="col-lg-3 col-md-6 col-12">
												<div class="single-category single-category--one wow zoomIn">
													<div
														class="single-category__content single-category__content--one mt-25 mb-25">
														<div class="title">
															<p>代辦事項</p>
															<a href="/shop/left" th:href="@{/shop/left}">+ 查看代辦事項</a>
														</div>
														<p class="product-count">媽媽的行程秘書</p>
													</div>
													<div
														class="single-category__image single-category__image--one">
														<img src="/assets/images/category/category-men.jpg"
															class="img-fluid" alt=""
															th:src="@{/assets/images/category/category-men.jpg}">
													</div>
													<a href="/shop/left" class="banner-link"
														th:href="@{/shop/left}"></a>
												</div>
											</div>

										</div>
									</div>
								</div>
								<!-- end category block 1 -->

								<!-- content block -->
								<div
									class="single-slider-post__content single-slider-post--sticky__content">

									<!-- category block 2 -->
									<div
										class="product-category-container mb-100 mb-md-90 mb-sm-90">
										<div class="container wide">
											<div class="row">
												<div class="col-lg-3 col-md-6 col-12">
													<div
														class="single-category single-category--one wow zoomIn">
														<div
															class="single-category__image single-category__image--one">
															<img src="/assets/images/category/category-women.jpg"
																class="img-fluid" alt=""
																th:src="@{/assets/images/category/category-women.jpg}">
														</div>
														<div
															class="single-category__content single-category__content--one mt-25 mb-25">
															<div class="title">
																<p>寶寶手冊</p>
																<a href="/shop/left" th:href="@{/shop/left}">+
																	查看寶寶手冊</a>
															</div>
															<p class="product-count">成長足跡一手掌握</p>
														</div>
														<a href="/shop/left" class="banner-link"
															th:href="@{/shop/left}"></a>
													</div>
												</div>

												<div class="col-lg-3 col-md-6 col-12">
													<div
														class="single-category single-category--one wow zoomIn">
														<div
															class="single-category__content single-category__content--one mt-25 mb-25">
															<div class="title">
																<p>寶寶成長紀錄</p>
																<a href="/shop/left" th:href="@{/shop/left}">+
																	查看成長紀錄</a>
															</div>
															<p class="product-count">紀錄寶寶每個里程碑</p>
														</div>
														<div
															class="single-category__image single-category__image--one">
															<img src="/assets/images/category/category-shoes.jpg"
																class="img-fluid" alt=""
																th:src="@{/assets/images/category/category-shoes.jpg}">
														</div>
														<a href="/shop/left" class="banner-link"
															th:href="@{/shop/left}"></a>
													</div>
												</div>

												<div class="col-lg-3 col-md-6 col-12">
													<div
														class="single-category single-category--one wow zoomIn">
														<div
															class="single-category__image single-category__image--one">
															<img src="/assets/images/category/category-bags.jpg"
																class="img-fluid" alt=""
																th:src="@{/assets/images/category/category-bags.jpg}">
														</div>
														<div
															class="single-category__content single-category__content--one mt-25 mb-25">
															<div class="title">
																<p>寶寶生長圖表</p>
																<a href="/shop/left" th:href="@{/shop/left}">+ 查看圖表</a>
															</div>
															<p class="product-count">成長軌跡看得見</p>
														</div>
														<a href="/shop/left" class="banner-link"
															th:href="@{/shop/left}"></a>
													</div>
												</div>

												<div class="col-lg-3 col-md-6 col-12">
													<div
														class="single-category single-category--one wow zoomIn">
														<div
															class="single-category__content single-category__content--one mt-25 mb-25">
															<div class="title">
																<p>代辦事項</p>
																<a href="/shop/left" th:href="@{/shop/left}">+
																	查看代辦事項</a>
															</div>
															<p class="product-count">育兒行程小幫手</p>
														</div>
														<div
															class="single-category__image single-category__image--one">
															<img src="/assets/images/category/category-men.jpg"
																class="img-fluid" alt=""
																th:src="@{/assets/images/category/category-men.jpg}">
														</div>
														<a href="/shop/left" class="banner-link"
															th:href="@{/shop/left}"></a>
													</div>
												</div>

											</div>
										</div>
									</div>
									<!-- end category block 2 -->

									<!-- slider block -->
									<div class="product-category-container mb-90">
										<div class="container wide">
											<div class="row">
												<div class="col-lg-12">
													<div
														class="lezada-slick-slider product-category-slider wow fadeInUp"
														data-slick-setting='{
                                 "slidesToShow": 3,
                                 "arrows": true,
                                 "autoplay": true,
                                 "autoplaySpeed": 5000,
                                 "speed": 1000,
                                 "prevArrow": {"buttonClass": "slick-prev", "iconClass": "ion-ios-arrow-thin-left" },
                                 "nextArrow": {"buttonClass": "slick-next", "iconClass": "ion-ios-arrow-thin-right" }
                               }'
														data-slick-responsive='[
                                 {"breakpoint":1501, "settings": {"slidesToShow": 3} },
                                 {"breakpoint":1199, "settings": {"slidesToShow": 3} },
                                 {"breakpoint":991, "settings": {"slidesToShow": 2, "arrows": false} },
                                 {"breakpoint":767, "settings": {"slidesToShow": 1, "arrows": false} },
                                 {"breakpoint":575, "settings": {"slidesToShow": 1, "arrows": false} },
                                 {"breakpoint":479, "settings": {"slidesToShow": 1, "arrows": false} }
                               ]'>

														<div class="col">
															<div class="single-category single-category--two">
																<div
																	class="single-category__image single-category__image--two">
																	<img src="/assets/images/category/sunglasses.jpg"
																		class="img-fluid" alt=""
																		th:src="@{/assets/images/category/sunglasses.jpg}">
																</div>
																<div
																	class="single-category__content single-category__content--two mt-25">
																	<div class="title">
																		<a href="/shop/left" th:href="@{/shop/left}">我的日曆</a>
																	</div>
																	<p class="product-count"></p>
																</div>
																<a href="/shop/left" class="banner-link"
																	th:href="@{/shop/left}"></a>
															</div>
														</div>

														<div class="col">
															<div class="single-category single-category--two">
																<div
																	class="single-category__image single-category__image--two">
																	<img src="/assets/images/category/women.jpg"
																		class="img-fluid" alt=""
																		th:src="@{/assets/images/category/women.jpg}">
																</div>
																<div
																	class="single-category__content single-category__content--two mt-25">
																	<div class="title">
																		<a href="/shop/left" th:href="@{/shop/left}">我的相簿</a>
																	</div>
																	<p class="product-count"></p>
																</div>
																<a href="/shop/left" class="banner-link"
																	th:href="@{/shop/left}"></a>
															</div>
														</div>

														<div class="col">
															<div class="single-category single-category--two">
																<div
																	class="single-category__image single-category__image--two">
																	<img src="/assets/images/category/cat-look-book.jpg"
																		class="img-fluid" alt=""
																		th:src="@{/assets/images/category/cat-look-book.jpg}">
																</div>
																<div
																	class="single-category__content single-category__content--two mt-25">
																	<div class="title">
																		<a href="/shop/left" th:href="@{/shop/left}">通知</a>
																	</div>
																	<p class="product-count"></p>
																</div>
																<a href="/shop/left" class="banner-link"
																	th:href="@{/shop/left}"></a>
															</div>
														</div>

														<div class="col">
															<div class="single-category single-category--two">
																<div
																	class="single-category__image single-category__image--two">
																	<img src="/assets/images/category/men.jpg"
																		class="img-fluid" alt=""
																		th:src="@{/assets/images/category/men.jpg}">
																</div>
																<div
																	class="single-category__content single-category__content--two mt-25">
																	<div class="title">
																		<a href="/shop/left" th:href="@{/shop/left}">我的日記</a>
																	</div>
																	<p class="product-count"></p>
																</div>
																<a href="/shop/left" class="banner-link"
																	th:href="@{/shop/left}"></a>
															</div>
														</div>

														<div class="col">
															<div class="single-category single-category--two">
																<div
																	class="single-category__image single-category__image--two">
																	<img src="/assets/images/category/shoes.jpg"
																		class="img-fluid" alt=""
																		th:src="@{/assets/images/category/shoes.jpg}">
																</div>
																<div
																	class="single-category__content single-category__content--two mt-25">
																	<div class="title">
																		<a href="/shop/left" th:href="@{/shop/left}">睡眠健康測驗</a>
																	</div>
																	<p class="product-count"></p>
																</div>
																<a href="/shop/left" class="banner-link"
																	th:href="@{/shop/left}"></a>
															</div>
														</div>

													</div>
													<!-- slider -->
												</div>
											</div>
										</div>
									</div>
									<!-- end slider block -->
								</div>
								<!-- end content block -->
							</div>
						</div>
					</div>
				</div>
				<!-- end main -->
			</div>
		</div>
	</div>
	<!-- end page wrapper -->

	<!-- footer -->
	<div class="footer-container footer-one pt-100 pb-50">
		<div class="container wide">
			<div class="row">
				<div class="col footer-single-widget">
					<div class="logo">
						<img src="/assets/images/babymate_logo.png" class="img-fluid"
							alt="" th:src="@{/assets/images/babymate_logo.png}">
					</div>
					<div class="copyright-text">
						<p>
							&copy;
							<script>
								document.write(new Date().getFullYear() + ' ');
							</script>
							BABYMATE. <span>All Rights Reserved</span>
						</p>
					</div>
				</div>

				<div class="col footer-single-widget">
					<h5 class="widget-title">ABOUT</h5>
					<div class="footer-nav-container">
						<nav>
							<ul>
								<li><a href="#">About us</a></li>
								<li><a href="#">Store location</a></li>
								<li><a href="#">Contact</a></li>
								<li><a href="#">Orders tracking</a></li>
							</ul>
						</nav>
					</div>
				</div>

				<div class="col footer-single-widget">
					<h5 class="widget-title">USEFUL LINKS</h5>
					<div class="footer-nav-container">
						<nav>
							<ul>
								<li><a href="#">Returns</a></li>
								<li><a href="#">Support Policy</a></li>
								<li><a href="#">Size guide</a></li>
								<li><a href="#">FAQs</a></li>
							</ul>
						</nav>
					</div>
				</div>

				<div class="col footer-single-widget">
					<h5 class="widget-title">FOLLOW US ON</h5>
					<div class="footer-nav-container footer-social-links">
						<nav>
							<ul>
								<li><a href="//twitter.com"><i class="fa fa-twitter"></i>
										Twitter</a></li>
								<li><a href="//facebook.com"><i class="fa fa-facebook"></i>
										Facebook</a></li>
								<li><a href="//instagram.com"><i
										class="fa fa-instagram"></i> Instagram</a></li>
								<li><a href="//youtube.com"><i class="fa fa-youtube"></i>
										Youtube</a></li>
							</ul>
						</nav>
					</div>
				</div>

				<div class="col footer-single-widget">
					<div class="footer-subscription-widget">
						<h2 class="footer-subscription-title">Subscribe.</h2>
						<p class="subscription-subtitle">Subscribe to our newsletter
							to receive news on update.</p>
						<div class="subscription-form">
							<form id="mc-form" class="mc-form">
								<input type="email" placeholder="Your email address" required>
								<button type="submit">
									<i class="ion-ios-arrow-thin-right"></i>
								</button>
							</form>
						</div>
						<div class="mailchimp-alerts">
							<div class="mailchimp-submitting"></div>
							<div class="mailchimp-success"></div>
							<div class="mailchimp-error"></div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	<!-- end footer -->

	<!-- overlays -->
	<div class="header-offcanvas about-overlay" id="about-overlay">
		<div class="overlay-close inactive"></div>
		<div class="overlay-content">
			<span class="close-icon" id="about-close-icon"> <a
				href="javascript:void(0)"><i class="ti-close"></i></a>
			</span>

			<div
				class="overlay-content-container d-flex flex-column justify-content-between h-100">
				<div class="widget-wrapper">
					<div class="single-widget">
						<h2 class="widget-title">About Us</h2>
						<p>At Lezada, we put a strong emphasis on simplicity, quality
							and usefulness of fashion products over other factors. Our
							fashion items never get outdated. They are not short-lived as
							normal fashion clothes.</p>
					</div>
				</div>

				<div class="contact-widget">
					<p class="email">
						<a href="mailto:contact@lezada.com">contact@lezada.com</a>
					</p>
					<p class="phone">(+00) 123 567990</p>
					<div class="social-icons">
						<ul>
							<li><a href="//www.twitter.com" data-tippy="Twitter"
								data-tippy-inertia="true" data-tippy-animation="shift-away"
								data-tippy-delay="50" data-tippy-arrow="true"
								data-tippy-theme="sharpborder" target="_blank"><i
									class="fa fa-twitter"></i></a></li>
							<li><a href="//www.facebook.com" data-tippy="Facebook"
								data-tippy-inertia="true" data-tippy-animation="shift-away"
								data-tippy-delay="50" data-tippy-arrow="true"
								data-tippy-theme="sharpborder" target="_blank"><i
									class="fa fa-facebook"></i></a></li>
							<li><a href="//www.instagram.com" data-tippy="Instagram"
								data-tippy-inertia="true" data-tippy-animation="shift-away"
								data-tippy-delay="50" data-tippy-arrow="true"
								data-tippy-theme="sharpborder" target="_blank"><i
									class="fa fa-instagram"></i></a></li>
							<li><a href="//www.youtube.com" data-tippy="Youtube"
								data-tippy-inertia="true" data-tippy-animation="shift-away"
								data-tippy-delay="50" data-tippy-arrow="true"
								data-tippy-theme="sharpborder" target="_blank"><i
									class="fa fa-youtube-play"></i></a></li>
						</ul>
					</div>
				</div>

			</div>
		</div>
	</div>

	<!--=======  wishlist overlay  =======-->

	<div class="wishlist-overlay" id="wishlist-overlay">
		<div class="wishlist-overlay-close inactive"></div>
		<div class="wishlist-overlay-content">
			<!--=======  close icon  =======-->

			<span class="close-icon" id="wishlist-close-icon"> <a
				href="javascript:void(0)"> <i class="ion-android-close"></i>
			</a>
			</span>

			<!--=======  End of close icon  =======-->

			<!--=======  offcanvas wishlist content container  =======-->

			<div class="offcanvas-cart-content-container">
				<h3 class="cart-title">Wishlist</h3>

				<div class="cart-product-wrapper">
					<div class="cart-product-container  ps-scroll">
						<!--=======  single cart product  =======-->

						<div class="single-cart-product">
							<span class="cart-close-icon"> <a href="#"><i
									class="ti-close"></i></a>
							</span>
							<div class="image">
								<a href="shop-product-basic.html"
									th:href="@{/shop/product-basic}"> <img
									src="assets/images/cart-product-image/01.jpg" class="img-fluid"
									alt="" th:src="@{/assets/images/cart-product-image/01.jpg}">
								</a>
							</div>
							<div class="content">
								<h5>
									<a href="shop-product-basic.html"
										th:href="@{/shop/product-basic}">Dark Brown Leather Watch</a>
								</h5>
								<p>
									<span class="main-price discounted">$200.00</span> <span
										class="discounted-price">$180.00</span>
								</p>

							</div>
						</div>

						<!--=======  End of single cart product  =======-->
						<!--=======  single cart product  =======-->

						<div class="single-cart-product">
							<span class="cart-close-icon"> <a href="#"><i
									class="ti-close"></i></a>
							</span>
							<div class="image">
								<a href="shop-product-basic.html"
									th:href="@{/shop/product-basic}"> <img
									src="assets/images/cart-product-image/02.jpg" class="img-fluid"
									alt="" th:src="@{/assets/images/cart-product-image/02.jpg}">
								</a>
							</div>
							<div class="content">
								<h5>
									<a href="shop-product-basic.html"
										th:href="@{/shop/product-basic}">Dining Chair</a>
								</h5>
								<p>
									<span class="main-price discounted">$300.00</span> <span
										class="discounted-price">$220.00</span>
								</p>

							</div>
						</div>

						<!--=======  End of single cart product  =======-->
						<!--=======  single cart product  =======-->

						<div class="single-cart-product">
							<span class="cart-close-icon"> <a href="#"><i
									class="ti-close"></i></a>
							</span>
							<div class="image">
								<a href="shop-product-basic.html"
									th:href="@{/shop/product-basic}"> <img
									src="assets/images/cart-product-image/03.jpg" class="img-fluid"
									alt="" th:src="@{/assets/images/cart-product-image/03.jpg}">
								</a>
							</div>
							<div class="content">
								<h5>
									<a href="shop-product-basic.html"
										th:href="@{/shop/product-basic}">Creative Wooden Stand</a>
								</h5>
								<p>
									<span class="main-price discounted">$100.00</span> <span
										class="discounted-price">$80.00</span>
								</p>

							</div>
						</div>

						<!--=======  End of single cart product  =======-->
						<!--=======  single cart product  =======-->

						<div class="single-cart-product">
							<span class="cart-close-icon"> <a href="#"><i
									class="ti-close"></i></a>
							</span>
							<div class="image">
								<a href="shop-product-basic.html"
									th:href="@{/shop/product-basic}"> <img
									src="assets/images/cart-product-image/01.jpg" class="img-fluid"
									alt="" th:src="@{/assets/images/cart-product-image/01.jpg}">
								</a>
							</div>
							<div class="content">
								<h5>
									<a href="shop-product-basic.html"
										th:href="@{/shop/product-basic}">Dark Brown Leather Watch</a>
								</h5>
								<p>
									<span class="main-price discounted">$200.00</span> <span
										class="discounted-price">$180.00</span>
								</p>

							</div>
						</div>

						<!--=======  End of single cart product  =======-->
						<!--=======  single cart product  =======-->

						<div class="single-cart-product">
							<span class="cart-close-icon"> <a href="#"><i
									class="ti-close"></i></a>
							</span>
							<div class="image">
								<a href="shop-product-basic.html"
									th:href="@{/shop/product-basic}"> <img
									src="assets/images/cart-product-image/02.jpg" class="img-fluid"
									alt="" th:src="@{/assets/images/cart-product-image/02.jpg}">
								</a>
							</div>
							<div class="content">
								<h5>
									<a href="shop-product-basic.html"
										th:href="@{/shop/product-basic}">Creative Wooden Stand</a>
								</h5>
								<p>
									<span class="main-price discounted">$200.00</span> <span
										class="discounted-price">$180.00</span>
								</p>

							</div>
						</div>

						<!--=======  End of single cart product  =======-->
					</div>

					<!--=======  cart buttons  =======-->

					<div class="cart-buttons">
						<a href="shop-wishlist.html" th:href="@{/shop/wishlist}">view
							wishlist</a>
					</div>

					<!--=======  End of cart buttons  =======-->
				</div>
			</div>

			<!--=======  End of offcanvas wishlist content container   =======-->
		</div>
	</div>

	<!--=======  End of wishlist overlay  =======-->

	<div class="cart-overlay" id="cart-overlay">
		<div class="cart-overlay-close inactive"></div>
		<div class="cart-overlay-content">
			<span class="close-icon" id="cart-close-icon"><a
				href="javascript:void(0)"><i class="ion-android-close"></i></a></span>
			<div class="offcanvas-cart-content-container">
				<h3 class="cart-title">Cart</h3>
				<div class="cart-product-wrapper">
					<div class="cart-product-container  ps-scroll">
						<div class="single-cart-product">
							<span class="cart-close-icon"><a href="#"><i
									class="ti-close"></i></a></span>
							<div class="image">
								<a th:href="@{/shop/product-basic}"><img
									th:src="@{/assets/images/cart-product-image/01.jpg}"
									class="img-fluid" alt=""></a>
							</div>
							<div class="content">
								<h5>
									<a th:href="@{/shop/product-basic}">Dark Brown Leather
										Watch</a>
								</h5>
								<p>
									<span class="cart-count">2 x </span> <span
										class="discounted-price">$180.00</span>
								</p>
							</div>
						</div>

						<div class="single-cart-product">
							<span class="cart-close-icon"><a href="#"><i
									class="ti-close"></i></a></span>
							<div class="image">
								<a th:href="@{/shop/product-basic}"><img
									th:src="@{/assets/images/cart-product-image/02.jpg}"
									class="img-fluid" alt=""></a>
							</div>
							<div class="content">
								<h5>
									<a th:href="@{/shop/product-basic}">Dining Chair</a>
								</h5>
								<p>
									<span class="cart-count">2 x </span> <span
										class="discounted-price">$220.00</span>
								</p>
							</div>
						</div>

						<div class="single-cart-product">
							<span class="cart-close-icon"><a href="#"><i
									class="ti-close"></i></a></span>
							<div class="image">
								<a th:href="@{/shop/product-basic}"><img
									th:src="@{/assets/images/cart-product-image/03.jpg}"
									class="img-fluid" alt=""></a>
							</div>
							<div class="content">
								<h5>
									<a th:href="@{/shop/product-basic}">Creative Wooden Stand</a>
								</h5>
								<p>
									<span class="cart-count">2 x </span> <span
										class="discounted-price">$80.00</span>
								</p>
							</div>
						</div>

						<div class="single-cart-product">
							<span class="cart-close-icon"><a href="#"><i
									class="ti-close"></i></a></span>
							<div class="image">
								<a th:href="@{/shop/product-basic}"><img
									th:src="@{/assets/images/cart-product-image/01.jpg}"
									class="img-fluid" alt=""></a>
							</div>
							<div class="content">
								<h5>
									<a th:href="@{/shop/product-basic}">Dark Brown Leather
										Watch</a>
								</h5>
								<p>
									<span class="cart-count">2 x </span> <span
										class="discounted-price">$180.00</span>
								</p>
							</div>
						</div>

						<div class="single-cart-product">
							<span class="cart-close-icon"><a href="#"><i
									class="ti-close"></i></a></span>
							<div class="image">
								<a th:href="@{/shop/product-basic}"><img
									th:src="@{/assets/images/cart-product-image/02.jpg}"
									class="img-fluid" alt=""></a>
							</div>
							<div class="content">
								<h5>
									<a th:href="@{/shop/product-basic}">Creative Wooden Stand</a>
								</h5>
								<p>
									<span class="cart-count">2 x </span> <span
										class="discounted-price">$180.00</span>
								</p>
							</div>
						</div>
					</div>

					<p class="cart-subtotal">
						<span class="subtotal-title">Subtotal:</span> <span
							class="subtotal-amount">$200.00</span>
					</p>

					<div class="cart-buttons">
						<a th:href="@{/shop/cart}">view cart</a> <a
							th:href="@{/shop/checkout}">checkout</a>
					</div>

					<p class="free-shipping-text">Free Shipping on All Orders Over
						$100!</p>
				</div>
			</div>
		</div>
	</div>

	<!-- Search overlay -->
	<div class="search-overlay" id="search-overlay">
		<span class="close-icon search-close-icon"><a
			href="javascript:void(0)" id="search-close-icon"><i
				class="ti-close"></i></a></span>
		<div class="search-overlay-content">
			<div class="input-box">
				<form th:action="@{/}">
					<input type="search" placeholder="Search Products...">
				</form>
			</div>
			<div class="search-hint">
				<span># Hit enter to search or ESC to close</span>
			</div>
		</div>
	</div>

	<!-- scroll to top -->
	<a href="#" class="scroll-top"></a>

	<!-- JS ============================================ -->
	<script src="/assets/js/vendor/jquery.min.js"
		th:src="@{/assets/js/vendor/jquery.min.js}"></script>
	<script src="/assets/js/popper.min.js"
		th:src="@{/assets/js/popper.min.js}"></script>
	<script src="/assets/js/bootstrap.min.js"
		th:src="@{/assets/js/bootstrap.min.js}"></script>
	<script src="/assets/js/plugins.js" th:src="@{/assets/js/plugins.js}"></script>
	<script src="/assets/js/main.js" th:src="@{/assets/js/main.js}"></script>

</body>
</html>
