<!DOCTYPE html>
<html lang="zh-Hant" xmlns:th="http://www.thymeleaf.org">

<!-- 用 forum layout -->
<head th:replace="~{frontend/layout_forum :: head(~{::title}, ~{::extraHead})}">
    <title th:text="${post.title} ?: '文章內容'">文章內容</title>
</head>

<body>
<div th:replace="~{frontend/layout_forum :: sidebar(boardList=${boardList})}"></div>

<div th:fragment="content">
    <div class="forum-post card p-3 mb-4 shadow-sm">
        <h5 th:text="${post.title}"></h5>
        <div th:utext="${post.postLine}"></div>
    </div>
</div>
</body>
</html>
