<!DOCTYPE html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>BabyMate</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" th:href="@{/assets/images/mother_baby_icon.ico}">

<link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/assets/css/font-awesome.min.css}">
<link rel="stylesheet" th:href="@{/assets/css/ionicons.min.css}">
<link rel="stylesheet" th:href="@{/assets/css/themify-icons.css}">
<link rel="stylesheet" th:href="@{/assets/css/plugins.css}">
<link rel="stylesheet" th:href="@{/assets/css/helper.css}">
<link rel="stylesheet" th:href="@{/assets/css/main.css}">

<script th:src="@{/assets/js/vendor/modernizr-2.8.3.min.js}"></script>
</head>
<body>
	<header class="header header-offcanvas-about header-sticky">
		<div class="header-bottom pt-md-40 pb-md-40 pt-sm-40 pb-sm-40">
			<div class="container wide">
				<div class="header-bottom-container">
					<div class="logo-with-offcanvas d-flex">
						<div class="offcanvas-about-icon mr-20 d-none d-lg-block">
							<a href="javascript:void(0)" id="offcanvas-about-icon"><i
								class="ion-navicon"></i></a>
						</div>
						<div class="logo">
							<a th:href="@{/}"> <img
								th:src="@{/assets/images/babymate.png}" class="img-fluid" alt="">
							</a>
						</div>
					</div>

					<div class="header-bottom-navigation">
						<div class="site-main-nav d-none d-lg-block">
							<nav class="site-nav center-menu">
								<ul>
									<li class="menu-item-has-children"><a href="/shop/left"
										th:href="@{/shop/left}">商城</a>
										<ul class="sub-menu single-column-menu">
											<li><a href="/shop/left" th:href="@{/shop/left}">查看所有商品</a></li>
										</ul></li>
									<li class="menu-item-has-children"><a
										href="javascript:void(0)">尋找診所</a>
										<ul class="sub-menu single-column-menu">
											<li><a href="/element/google-maps"
												th:href="@{/element/google-maps}">診所地圖</a></li>
										</ul></li>
									<li class="menu-item-has-children"><a
										href="javascript:void(0)">會員中心</a>
										<ul class="sub-menu single-column-menu">
											<li><a href="/blog/full-grid-left"
												th:href="@{/blog/full-grid-left}">會員儀表板</a></li>
											<li><a href="/my-account" th:href="@{/my-account}">我的訂單</a></li>
											<li><a href="/faq" th:href="@{/faq}">F.A.Q</a></li>
										</ul></li>
									<li class="menu-item-has-children "><a
										href="javascript:void(0)">討論區</a>
										<ul class="sub-menu single-column-menu">
											<li><a href="/blog/standard-left"
												th:href="@{/blog/standard-left}">看板貼文</a></li>
										</ul></li>
								</ul>
							</nav>
						</div>
					</div>

					<div class="header-right-container">
						<div
							class="header-right-icons d-flex justify-content-end align-items-center h-100">
							<div class="single-icon search">
								<a href="javascript:void(0)" id="search-icon"><i
									class="ion-ios-search-strong"></i></a>
							</div>
							<div class="single-icon user-login">
								<a href="/shop/login" th:href="@{/shop/login}"><i
									class="ion-android-person"></i></a>
							</div>
							<div class="single-icon wishlist">
								<a href="javascript:void(0)" id="offcanvas-wishlist-icon"> <i
									class="ion-android-favorite-outline"></i><span class="count">2</span>
								</a>
							</div>
							<div class="single-icon cart">
								<a href="javascript:void(0)" id="offcanvas-cart-icon"> <i
									class="ion-ios-cart"></i><span class="count">3</span>
								</a>
							</div>
							<!-- Member Logout / 會員登出 -->
							<div class="single-icon user-logout">
								<a href="/member/logout" th:href="@{/member/logout}" title="登出"><i
									class="ion-log-out"></i></a>
							</div>
						</div>
					</div>

				</div>

				<!-- Mobile -->
				<div class="site-mobile-navigation d-block d-lg-none">
					<div id="dl-menu" class="dl-menuwrapper site-mobile-nav">
						<!--Site Mobile Menu Toggle Start-->
						<button class="dl-trigger hamburger hamburger--spin">
							<span class="hamburger-box"> <span class="hamburger-inner"></span>
							</span>
						</button>
						<!--Site Mobile Menu Toggle End-->
						<ul class="dl-menu dl-menu-toggle">
							<li><a href="#">商城</a>
								<ul class="dl-submenu">
									<li class=""><a href="/shop/left" th:href="@{/shop/left}">查看所有商品</a></li>
								</ul></li>
							<li><a href="#">尋找診所</a>
								<ul class="dl-submenu">
									<li><a href="/element/google-maps"
										th:href="@{/element/google-maps}">診所地圖</a></li>
								</ul></li>
							<li><a href="#">會員中心</a>
								<ul class="dl-submenu">
									<li><a href="/blog/full-grid-left"
										th:href="@{/blog/full-grid-left}">會員儀表板</a></li>
									<li><a href="my-account.html" th:href="@{/my-account}">我的訂單</a></li>
									<li><a href="faq.html" th:href="@{/faq}">F.A.Q</a></li>
								</ul></li>
							<li><a href="#">討論區</a>
								<ul class="dl-submenu">
									<li><a href="/blog/standard-left"
										th:href="@{/blog/standard-left}">看板貼文</a></li>
								</ul></li>
						</ul>
					</div>
				</div>
				<!-- End Mobile -->

			</div>
		</div>
	</header>

	<!-- Breadcrumb -->
	<div class="breadcrumb-area breadcrumb-bg-1 pt-50 pb-70 mb-130">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h1 class="breadcrumb-title">My Account</h1>
					<ul class="breadcrumb-list">
						<li class="breadcrumb-list__item"><a th:href="@{/}">HOME</a></li>
						<li class="breadcrumb-list__item breadcrumb-list__item--active">My
							Account</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<!-- My account content -->
	<div class="my-account-area mb-130 mb-md-70 mb-sm-70 mb-xs-70 mb-xxs-70">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <!-- 側邊選單 -->
          <div class="col-lg-12 col-md-12">
            <div class="myaccount-tab-menu nav" role="tablist">
<!--               <a href="#dashboad" class="active" data-bs-toggle="tab">Dashboard</a> -->
<!--               <a href="#orders" data-bs-toggle="tab">Orders</a> -->
<!--               <a href="#download" data-bs-toggle="tab">Download</a> -->
<!--               <a href="#payment-method" data-bs-toggle="tab">Payment Method</a> -->
              <a href="#account-info" class="active" data-bs-toggle="tab">基本會員資料</a>
              <a href="#password-info" data-bs-toggle="tab">密碼變更</a>
<!--               <a href="#address-edit" data-bs-toggle="tab">預設收件資訊</a> -->
<!--               <a th:href="@{/shop/customer-login}">Logout</a> -->
            </div>
          </div>

          <!-- 內容區 -->
          <div class="col-lg-12 col-md-12">
            <div class="tab-content" id="myaccountContent">

              <!-- Account Info -->
              <div class="tab-pane fade show active" id="account-info" role="tabpanel">
                <div class="myaccount-content">
                  <h3>基本資料</h3>
                  <div class="account-details-form">
<!--                     <form action="#" method="post" enctype="multipart/form-data"> -->
					<form id="editForm" th:action="@{/member/updateBasicInfo}" method="post" th:object="${MemberVO}" enctype="multipart/form-data">
                      <div class="row">
                        <!-- 左側欄 -->
                        <div class="col-lg-6">   
                          <div>
                          	<input type="hidden" th:field="*{memberId}" />
                          </div>                                     
                          <div class="single-input-item">
                            <label for="full-name" class="required">姓名</label>
                            <input type="text" th:field="*{name}" id="full-name" class="form-control" />
                            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error" id="name.errors">></span>
                          </div>
                          <div class="single-input-item mt-3">
                            <label for="birthday" class="required">生日</label>
<!--                             <input type="date" th:field="*{birthday}" id="birthday" class="form-control" /> -->
							<!-- 前端date picker不支援thymeleaf th:field寫法, 故改用以下方式傳值 -->
							<input type="date" th:value="${#temporals.format(MemberVO.birthday, 'yyyy-MM-dd')}"
       							name="birthday" class="form-control" />
                            <span th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}" class="error" id="birthday.errors">></span>
                          </div>
                          <div class="single-input-item mt-3">
                            <label for="gender" class="required">性別</label>
                            <select id="gender" class="form-control" th:field="*{gender}">
    							<option value="" disabled>請選擇性別</option>
    							<option value="女">女</option>
    							<option value="男">男</option>
    							<option value="其他">其他</option>
  							</select>
                          </div>
                          <!-- Addressee -->
                          <div class="single-input-item">
                            <label for="recipient" >收件人</label>
                            <input type="text" th:field="*{recipientName}" id="recipientName" class="form-control" />
                            <span th:if="${#fields.hasErrors('recipientName')}" th:errors="*{recipientName}" class="error" id="recipientName.errors">></span>
                          </div>
                          
                          <div class="single-input-item">
                            <label for="address" >地址</label>
                            <input type="text" th:field="*{address}" id="address" class="form-control" />
                            <span th:if="${#fields.hasErrors('address')}" th:errors="*{address}" class="error" id="address.errors">></span>
                          </div>
                          
                          <div class="single-input-item">
                            <label for="phone" >電話</label>
                            <input type="tel" th:field="*{phone}" id="phone" class="form-control" />
                            <span th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" class="error" id="phone.errors">></span>
                          </div>
                          
                          <!-- 儲存變更按鈕 -->
                          <div class="single-input-item mt-4">
                            <div class="row">
                              <div class="col-6">
                                <button type="submit" class="check-btn sqr-btn w-100">儲存變更</button>
                              </div>
                              <div class="col-6">
                                <button type="reset" class="check-btn sqr-btn w-100">重設</button>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- 右側欄 -->
                        <div class="col-lg-6 text-center">
                          <div class="single-input-item">
                            <label class="required d-block mb-2">頭像</label>                             
                             <img id="avatar-preview" th:src="@{/util/DBPicReader1} + '?memberId=' + ${MemberVO.memberId}"
										alt="頭像預覽" class="img-thumbnail mb-3"
                              style="width: 250px; height: 250px; object-fit: cover;"/>
                              
                            <div class="d-flex justify-content-center">
                              <label for="avatar-upload" class="btn btn-outline-primary">選擇頭像</label>
                              <input type="file" id="avatar-upload" name="pic" accept="image/*"
                                class="d-none" onchange="previewImage(event)" />
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                    <!-- 錯誤表列 -->
					<p></p>
<!-- 					<div class="errorblock  text-left" th:if="${errorMessage}" th:text="${errorMessage}"></div> -->
<!-- 					<div class="successblock  text-left" th:if="${logoutMessage}" th:text="${logoutMessage}"></div> -->
					<div class="alert alert-danger d-flex align-items-center mt-4" role="alert" th:if="${errorMessage}">
  						<i class="bi bi-exclamation-triangle-fill me-2" style="font-size: 1.5rem;"></i>
  						<span th:text="${errorMessage}"></span>
					</div>
					<div class="alert alert-success fade-in d-flex align-items-center mt-4" role="alert" th:if="${successMessage}">
  						<i class="bi bi-check-circle-fill me-2" style="font-size: 1.5rem;"></i>
  						<span th:text="${successMessage}"></span>
					</div>
					<!-- 錯誤表列 -->
                  </div>
                </div>
              </div>
              <!-- /Account Info -->

			  <!-- Password Info -->
			  
			  
			  <div class="tab-pane fade" id="password-info" role="tabpanel">
                <div class="myaccount-content">
                  <h3>密碼變更</h3>
                  <form id="editForm" th:action="@{/member/updatePassword}" method="post" th:object="${MemberVO}" enctype="multipart/form-data">
                    <div class="row">
                        <!-- 左側欄 -->
                        <div class="col-lg-12">  
                        
						<div>
                          	<input type="hidden" th:field="*{memberId}" />
                          </div>

                        <div class="single-input-item  mt-3">
                          <label for="current-pwd" class="required">目前密碼</label>
                          <input type="password" id="current-pwd" th:field="*{password}"
                            placeholder="請輸入目前密碼" autocomplete="current-password"
                            maxlength="20" class="form-control" />
                        </div>
                        <div class="row">
                          <div class="col-lg-6">
                            <div class="single-input-item  mt-3">
                              <label for="new-pwd" class="required">新密碼</label>
                              <input type="password" id="new-pwd" name="newPassword"
                                placeholder="請輸入新密碼" autocomplete="new-password"
                                maxlength="20" class="form-control" />
                            </div>
                          </div>
                          <div class="col-lg-6">
                            <div class="single-input-item  mt-3">
                              <label for="confirm-pwd" class="required">確認新密碼</label>
                              <input type="password" id="confirm-pwd" name="confirmPassword"
                                placeholder="請再次輸入新密碼" autocomplete="new-password"
                                maxlength="20" class="form-control" />
                            </div>
                          </div>
                        </div>
                        <!-- 儲存變更按鈕 -->
                          <div class="single-input-item mt-4">
                            <div class="row">
                              <div class="col-6">
                                <button type="submit" class="check-btn sqr-btn w-100">密碼變更</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                    <!-- 錯誤表列 -->
					<p></p>
<!-- 					<div class="errorblock  text-left" th:if="${errorMessage}" th:text="${errorMessage}"></div> -->
<!-- 					<div class="successblock  text-left" th:if="${logoutMessage}" th:text="${logoutMessage}"></div> -->
					<div class="alert alert-danger d-flex align-items-center mt-4" role="alert" th:if="${errorMessage}">
  						<i class="bi bi-exclamation-triangle-fill me-2" style="font-size: 1.5rem;"></i>
  						<span th:text="${errorMessage}"></span>
					</div>
					<div class="alert alert-success fade-in d-flex align-items-center mt-4" role="alert" th:if="${successMessage}">
  						<i class="bi bi-check-circle-fill me-2" style="font-size: 1.5rem;"></i>
  						<span th:text="${successMessage}"></span>
					</div>
					<!-- 錯誤表列 -->
                </div>
              </div>
			  <!-- /Password Info -->

            </div>
          </div>
          <!-- /tab content -->
        </div>
      </div>
    </div>
  </div>
</div>

	</div>

	<!-- Footer -->
	<div class="footer-container footer-one pt-100 pb-50">
		<div class="container wide">
			<div class="row">
				<div class="col footer-single-widget">
					<div class="logo">
						<img th:src="@{/assets/images/babymate_logo.png}"
							class="img-fluid" alt="">
					</div>
					<div class="copyright-text" th:inline="text">
						<p>
							&copy; [[${#dates.format(#dates.createNow(),'yyyy')}]] BABYMATE.
							<span>All Rights Reserved</span>
						</p>
					</div>
				</div>
				<div class="col footer-single-widget">
					<h5 class="widget-title">ABOUT</h5>
					<div class="footer-nav-container">
						<nav>
							<ul>
								<li><a href="#">About us</a></li>
								<li><a href="#">Store location</a></li>
								<li><a href="#">Contact</a></li>
								<li><a href="#">Orders tracking</a></li>
							</ul>
						</nav>
					</div>
				</div>
				<div class="col footer-single-widget">
					<h5 class="widget-title">USEFUL LINKS</h5>
					<div class="footer-nav-container">
						<nav>
							<ul>
								<li><a href="#">Returns</a></li>
								<li><a href="#">Support Policy</a></li>
								<li><a href="#">Size guide</a></li>
								<li><a href="#">FAQs</a></li>
							</ul>
						</nav>
					</div>
				</div>
				<div class="col footer-single-widget">
					<h5 class="widget-title">FOLLOW US ON</h5>
					<div class="footer-nav-container footer-social-links">
						<nav>
							<ul>
								<li><a href="//twitter.com"><i class="fa fa-twitter"></i>
										Twitter</a></li>
								<li><a href="//facebook.com"> <i class="fa fa-facebook"></i>
										Facebook
								</a></li>
								<li><a href="//instagram.com"><i
										class="fa fa-instagram"></i> Instagram</a></li>
								<li><a href="//youtube.com"> <i class="fa fa-youtube"></i>
										Youtube
								</a></li>
							</ul>
						</nav>
					</div>
				</div>
				<div class="col footer-single-widget">
					<div class="footer-subscription-widget">
						<h2 class="footer-subscription-title">Subscribe.</h2>
						<p class="subscription-subtitle">Subscribe to our newsletter
							to receive news on update.</p>
						<div class="subscription-form">
							<form id="mc-form" class="mc-form">
								<input type="email" placeholder="Your email address" required>
								<button type="submit">
									<i class="ion-ios-arrow-thin-right"></i>
								</button>
							</form>
						</div>
						<div class="mailchimp-alerts">
							<div class="mailchimp-submitting"></div>
							<div class="mailchimp-success"></div>
							<div class="mailchimp-error"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Overlays (wishlist/cart imgs/links converted) -->
	<div class="header-offcanvas about-overlay" id="about-overlay">
		<div class="overlay-close inactive"></div>
		<div class="overlay-content">
			<span class="close-icon" id="about-close-icon"><a
				href="javascript:void(0)"><i class="ti-close"></i></a></span>
			<div
				class="overlay-content-container d-flex flex-column justify-content-between h-100">
				<div class="widget-wrapper">
					<div class="single-widget">
						<h2 class="widget-title">About Us</h2>
						<p>At Lezada, we put a strong emphasis on simplicity, quality
							and usefulness of fashion products over other factors...</p>
					</div>
				</div>
				<div class="contact-widget">
					<p class="email">
						<a href="mailto:contact@lezada.com">contact@lezada.com</a>
					</p>
					<p class="phone">(+00) 123 567990</p>
					<div class="social-icons">
						<ul>
							<li><a href="//www.twitter.com" data-tippy="Twitter"
								target="_blank"><i class="fa fa-twitter"></i></a></li>
							<li><a href="//www.facebook.com" data-tippy="Facebook"
								target="_blank"><i class="fa fa-facebook"></i></a></li>
							<li><a href="//www.instagram.com" data-tippy="Instagram"
								target="_blank"><i class="fa fa-instagram"></i></a></li>
							<li><a href="//www.youtube.com" data-tippy="Youtube"
								target="_blank"><i class="fa fa-youtube-play"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--=======  wishlist overlay  =====-->

	<div class="wishlist-overlay" id="wishlist-overlay">
		<div class="wishlist-overlay-close inactive"></div>
		<div class="wishlist-overlay-content">
			<!--=======  close icon  =======-->

			<span class="close-icon" id="wishlist-close-icon"> <a
				href="javascript:void(0)"> <i class="ion-android-close"></i>
			</a>
			</span>

			<!--=======  End of close icon  =======-->

			<!--=======  offcanvas wishlist content container  =======-->

			<div class="offcanvas-cart-content-container">
				<h3 class="cart-title">Wishlist</h3>

				<div class="cart-product-wrapper">
					<div class="cart-product-container  ps-scroll">
						<!--=======  single cart product  =======-->

						<div class="single-cart-product">
							<span class="cart-close-icon"> <a href="#"><i
									class="ti-close"></i></a>
							</span>
							<div class="image">
								<a href="shop-product-basic.html"
									th:href="@{/shop/product-basic}"> <img
									src="assets/images/cart-product-image/01.jpg" class="img-fluid"
									alt="" th:src="@{/assets/images/cart-product-image/01.jpg}">
								</a>
							</div>
							<div class="content">
								<h5>
									<a href="shop-product-basic.html"
										th:href="@{/shop/product-basic}">Dark Brown Leather Watch</a>
								</h5>
								<p>
									<span class="main-price discounted">$200.00</span> <span
										class="discounted-price">$180.00</span>
								</p>

							</div>
						</div>

						<!--=======  End of single cart product  =======-->
						<!--=======  single cart product  =======-->

						<div class="single-cart-product">
							<span class="cart-close-icon"> <a href="#"><i
									class="ti-close"></i></a>
							</span>
							<div class="image">
								<a href="shop-product-basic.html"
									th:href="@{/shop/product-basic}"> <img
									src="assets/images/cart-product-image/02.jpg" class="img-fluid"
									alt="" th:src="@{/assets/images/cart-product-image/02.jpg}">
								</a>
							</div>
							<div class="content">
								<h5>
									<a href="shop-product-basic.html"
										th:href="@{/shop/product-basic}">Dining Chair</a>
								</h5>
								<p>
									<span class="main-price discounted">$300.00</span> <span
										class="discounted-price">$220.00</span>
								</p>

							</div>
						</div>

						<!--=======  End of single cart product  =======-->
						<!--=======  single cart product  =======-->

						<div class="single-cart-product">
							<span class="cart-close-icon"> <a href="#"><i
									class="ti-close"></i></a>
							</span>
							<div class="image">
								<a href="shop-product-basic.html"
									th:href="@{/shop/product-basic}"> <img
									src="assets/images/cart-product-image/03.jpg" class="img-fluid"
									alt="" th:src="@{/assets/images/cart-product-image/03.jpg}">
								</a>
							</div>
							<div class="content">
								<h5>
									<a href="shop-product-basic.html"
										th:href="@{/shop/product-basic}">Creative Wooden Stand</a>
								</h5>
								<p>
									<span class="main-price discounted">$100.00</span> <span
										class="discounted-price">$80.00</span>
								</p>

							</div>
						</div>

						<!--=======  End of single cart product  =======-->
						<!--=======  single cart product  =======-->

						<div class="single-cart-product">
							<span class="cart-close-icon"> <a href="#"><i
									class="ti-close"></i></a>
							</span>
							<div class="image">
								<a href="shop-product-basic.html"
									th:href="@{/shop/product-basic}"> <img
									src="assets/images/cart-product-image/01.jpg" class="img-fluid"
									alt="" th:src="@{/assets/images/cart-product-image/01.jpg}">
								</a>
							</div>
							<div class="content">
								<h5>
									<a href="shop-product-basic.html"
										th:href="@{/shop/product-basic}">Dark Brown Leather Watch</a>
								</h5>
								<p>
									<span class="main-price discounted">$200.00</span> <span
										class="discounted-price">$180.00</span>
								</p>

							</div>
						</div>

						<!--=======  End of single cart product  =======-->
						<!--=======  single cart product  =======-->

						<div class="single-cart-product">
							<span class="cart-close-icon"> <a href="#"><i
									class="ti-close"></i></a>
							</span>
							<div class="image">
								<a href="shop-product-basic.html"
									th:href="@{/shop/product-basic}"> <img
									src="assets/images/cart-product-image/02.jpg" class="img-fluid"
									alt="" th:src="@{/assets/images/cart-product-image/02.jpg}">
								</a>
							</div>
							<div class="content">
								<h5>
									<a href="shop-product-basic.html"
										th:href="@{/shop/product-basic}">Creative Wooden Stand</a>
								</h5>
								<p>
									<span class="main-price discounted">$200.00</span> <span
										class="discounted-price">$180.00</span>
								</p>

							</div>
						</div>

						<!--=======  End of single cart product  =======-->
					</div>

					<!--=======  cart buttons  =======-->

					<div class="cart-buttons">
						<a href="shop-wishlist.html" th:href="@{/shop/wishlist}">view
							wishlist</a>
					</div>

					<!--=======  End of cart buttons  =======-->
				</div>
			</div>

			<!--=======  End of offcanvas wishlist content container   =======-->
		</div>
	</div>

	<!--=======  End of wishlist overlay  =======-->

	<div class="cart-overlay" id="cart-overlay">
		<div class="cart-overlay-close inactive"></div>
		<div class="cart-overlay-content">
			<span class="close-icon" id="cart-close-icon"><a
				href="javascript:void(0)"><i class="ion-android-close"></i></a></span>
			<div class="offcanvas-cart-content-container">
				<h3 class="cart-title">Cart</h3>
				<div class="cart-product-wrapper">
					<div class="cart-product-container  ps-scroll">
						<div class="single-cart-product">
							<span class="cart-close-icon"><a href="#"><i
									class="ti-close"></i></a></span>
							<div class="image">
								<a th:href="@{/shop/product-basic}"><img
									th:src="@{/assets/images/cart-product-image/01.jpg}"
									class="img-fluid" alt=""></a>
							</div>
							<div class="content">
								<h5>
									<a th:href="@{/shop/product-basic}">Dark Brown Leather
										Watch</a>
								</h5>
								<p>
									<span class="cart-count">2 x </span> <span
										class="discounted-price">$180.00</span>
								</p>
							</div>
						</div>

						<div class="single-cart-product">
							<span class="cart-close-icon"><a href="#"><i
									class="ti-close"></i></a></span>
							<div class="image">
								<a th:href="@{/shop/product-basic}"><img
									th:src="@{/assets/images/cart-product-image/02.jpg}"
									class="img-fluid" alt=""></a>
							</div>
							<div class="content">
								<h5>
									<a th:href="@{/shop/product-basic}">Dining Chair</a>
								</h5>
								<p>
									<span class="cart-count">2 x </span> <span
										class="discounted-price">$220.00</span>
								</p>
							</div>
						</div>

						<div class="single-cart-product">
							<span class="cart-close-icon"><a href="#"><i
									class="ti-close"></i></a></span>
							<div class="image">
								<a th:href="@{/shop/product-basic}"><img
									th:src="@{/assets/images/cart-product-image/03.jpg}"
									class="img-fluid" alt=""></a>
							</div>
							<div class="content">
								<h5>
									<a th:href="@{/shop/product-basic}">Creative Wooden Stand</a>
								</h5>
								<p>
									<span class="cart-count">2 x </span> <span
										class="discounted-price">$80.00</span>
								</p>
							</div>
						</div>

						<div class="single-cart-product">
							<span class="cart-close-icon"><a href="#"><i
									class="ti-close"></i></a></span>
							<div class="image">
								<a th:href="@{/shop/product-basic}"><img
									th:src="@{/assets/images/cart-product-image/01.jpg}"
									class="img-fluid" alt=""></a>
							</div>
							<div class="content">
								<h5>
									<a th:href="@{/shop/product-basic}">Dark Brown Leather
										Watch</a>
								</h5>
								<p>
									<span class="cart-count">2 x </span> <span
										class="discounted-price">$180.00</span>
								</p>
							</div>
						</div>

						<div class="single-cart-product">
							<span class="cart-close-icon"><a href="#"><i
									class="ti-close"></i></a></span>
							<div class="image">
								<a th:href="@{/shop/product-basic}"><img
									th:src="@{/assets/images/cart-product-image/02.jpg}"
									class="img-fluid" alt=""></a>
							</div>
							<div class="content">
								<h5>
									<a th:href="@{/shop/product-basic}">Creative Wooden Stand</a>
								</h5>
								<p>
									<span class="cart-count">2 x </span> <span
										class="discounted-price">$180.00</span>
								</p>
							</div>
						</div>
					</div>

					<p class="cart-subtotal">
						<span class="subtotal-title">Subtotal:</span> <span
							class="subtotal-amount">$200.00</span>
					</p>

					<div class="cart-buttons">
						<a th:href="@{/shop/cart}">view cart</a> <a
							th:href="@{/shop/checkout}">checkout</a>
					</div>

					<p class="free-shipping-text">Free Shipping on All Orders Over
						$100!</p>
				</div>
			</div>
		</div>
	</div>

	<!-- Search overlay -->
	<div class="search-overlay" id="search-overlay">
		<span class="close-icon search-close-icon"><a
			href="javascript:void(0)" id="search-close-icon"><i
				class="ti-close"></i></a></span>
		<div class="search-overlay-content">
			<div class="input-box">
				<form th:action="@{/}">
					<input type="search" placeholder="Search Products...">
				</form>
			</div>
			<div class="search-hint">
				<span># Hit enter to search or ESC to close</span>
			</div>
		</div>
	</div>

	<a href="#" class="scroll-top"></a>

	<script th:src="@{/assets/js/vendor/jquery.min.js}"></script>
	<script th:src="@{/assets/js/popper.min.js}"></script>
	<script th:src="@{/assets/js/bootstrap.min.js}"></script>
	<script th:src="@{/assets/js/plugins.js}"></script>
	<script th:src="@{/assets/js/main.js}"></script>
	
	 <!-- 頭像預覽 -->
  <script>
    function previewImage(event) {
      const reader = new FileReader();
      reader.onload = function () {
        document.getElementById('avatar-preview').src = reader.result;
      };
      reader.readAsDataURL(event.target.files[0]);
    }
  </script>
  
  <script>
  document.addEventListener("DOMContentLoaded", function () {
    const hash = window.location.hash;

    if (hash) {
      // 移除所有 tab 的 active 樣式
      document.querySelectorAll('.myaccount-tab-menu a').forEach(function (tabLink) {
        tabLink.classList.remove('active');
      });

      document.querySelectorAll('.tab-pane').forEach(function (tabPane) {
        tabPane.classList.remove('show', 'active');
      });

      // 套用新的 active 樣式
      const targetTabLink = document.querySelector(`.myaccount-tab-menu a[href="${hash}"]`);
      const targetTabPane = document.querySelector(hash);

      if (targetTabLink && targetTabPane) {
        targetTabLink.classList.add('active');
        targetTabPane.classList.add('show', 'active');
      }
    }
  });
</script>
</body>
</html>
