<!DOCTYPE html>
<html class="no-js" lang="zh-Hant" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{frontend/layout :: head('BabyMate', ~{::extraHead})}">
  <th:block th:fragment="extraHead"></th:block>
</head>

<body th:replace="~{frontend/layout :: layout('about', ~{::content}, ~{::extraJs}, 'footer-one')}">
<section th:fragment="content">
<div th:replace="~{frontend/fragments/breadcrumb :: breadcrumb('我的訂單')}"></div>



	<!-- page wrapper -->
	<div class="my-account-area mb-130 mb-md-70 mb-sm-70 mb-xs-70 mb-xxs-70">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="row">
						<div class="col-lg-12 col-md-12">
							<div class="myaccount-tab-menu nav" role="tablist">
								<!-- <a href="#dashboad" class="active" data-bs-toggle="tab">Dashboard</a> -->
								<a href="#orders" data-bs-toggle="tab">訂單查詢</a>
								<a href="#download" data-bs-toggle="tab">下載</a>
								<a href="#payment-method" data-bs-toggle="tab">付款方式</a>
								<a href="#address-edit" data-bs-toggle="tab">地址</a>
								<a href="#account-info" data-bs-toggle="tab">帳戶詳情</a>
								<!-- <a th:href="@{/shop/customer-login}">Logout</a> -->
							</div>
						</div>

						<div class="col-lg-12 col-md-12">
							<div class="tab-content" id="myaccountContent">
								<!-- <div class="tab-pane fade show active" id="dashboad"
									role="tabpanel">
									<div class="myaccount-content">
										<h3>Dashboard</h3>
										<div class="welcome">
											<p>
												Hello, <strong>Alex Tuntuni</strong> (If Not <strong>Tuntuni
													!</strong><a th:href="@{/shop/customer-login}" class="logout">
													Logout</a>)
											</p>
										</div>
										<p class="mb-0">From your account dashboard. you can
											easily check & view your recent orders, manage your shipping
											and billing addresses and edit your password and account
											details.</p>
									</div>
								</div> -->

								<div class="tab-pane fade" id="orders" role="tabpanel">
									<div class="myaccount-content">
										<h3>我的訂單</h3>
										<div class="myaccount-table table-responsive text-center">
											<table class="table table-bordered">
												<thead class="thead-light">
													<tr>
														<th>訂單日期</th>
														<th>訂單編號</th>
														<th>訂單狀態</th>
														<th>訂單總額</th>
														<th>收件人</th>
														<th>地址</th>
														<th>電話</th>
														<th>E-Mail</th>
														<th>備註</th>
														<th>訂單明細</th>
													</tr>
												</thead>
												<tbody>
													<tr th:each="order: ${orders}">
														<td th:text="${#temporals.format(order.orderTime, 'yyyy-MM-dd HH:mm')}"></td>
														<td th:text="${order.orderNo}"></td>
														<td class="text-center" th:switch="${order.status}">
															<span th:case="0" class="text-muted">已取消</span>
															<span th:case="1" class="text-warning">未付款</span>
															<span th:case="2" class="text-primary">已付款</span>
															<span th:case="3" class="text-info">已出貨</span>
															<span th:case="4" class="text-success">已收貨</span>
															<span th:case="5" class="text-danger">退款中</span>
															<span th:case="6" class="text-secondary">已退款</span>
															<span th:case="*" class="text-dark">未知狀態</span>
														</td>
														<td th:text="'$' + ${#numbers.formatDecimal(order.amount, 0, 'COMMA', 0, 'POINT')}"></td>
														<td th:text="${order.recipient}"></td>
														<td th:text="${order.address}"></td>
														<td th:text="${order.phone}"></td>
														<td th:text="${order.email}"></td>
														<td th:text="${order.remark}"></td>
														<td class="text-nowrap">
										                	<a class="btn btn-sm btn-outline-success"
										                       th:href="@{'/shop/order-detail/' + ${order.orderId}}">
										                    	<i class="bi bi-journal-medical"></i> 訂單明細
										                  </a>
										                </td>
													</tr>
												
													<!-- <tr>
														<td>1</td>
														<td>Aug 22, 2022</td>
														<td>Pending</td>
														<td>$3000</td>
														<td><a th:href="@{/shop/cart}"
															class="check-btn sqr-btn ">View</a></td>
													</tr>
													<tr>
														<td>2</td>
														<td>July 22, 2022</td>
														<td>Approved</td>
														<td>$200</td>
														<td><a th:href="@{/shop/cart}"
															class="check-btn sqr-btn ">View</a></td>
													</tr>
													<tr>
														<td>3</td>
														<td>June 12, 2017</td>
														<td>On Hold</td>
														<td>$990</td>
														<td><a th:href="@{/shop/cart}"
															class="check-btn sqr-btn ">View</a></td>
													</tr> -->
												</tbody>
											</table>
										</div>
									</div>
								</div>

								<div class="tab-pane fade" id="download" role="tabpanel">
									<div class="myaccount-content">
										<h3>下載</h3>
										<div class="myaccount-table table-responsive text-center">
											<table class="table table-bordered">
												<thead class="thead-light">
													<tr>
														<th>Product</th>
														<th>Date</th>
														<th>Expire</th>
														<th>Download</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td>Haven - Free Real Estate PSD Template</td>
														<td>Aug 22, 2022</td>
														<td>Yes</td>
														<td><a href="#" class="check-btn sqr-btn "><i
																class="fa fa-cloud-download"></i> Download File</a></td>
													</tr>
													<tr>
														<td>HasTech - Profolio Business Template</td>
														<td>Sep 12, 2022</td>
														<td>Never</td>
														<td><a href="#" class="check-btn sqr-btn "><i
																class="fa fa-cloud-download"></i> Download File</a></td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>

								<div class="tab-pane fade" id="payment-method" role="tabpanel">
									<div class="myaccount-content">
										<h3>Payment Method</h3>
										<p class="saved-message">You Can't Saved Your Payment
											Method yet.</p>
									</div>
								</div>

								<div class="tab-pane fade" id="address-edit" role="tabpanel">
									<div class="myaccount-content">
										<h3>Billing Address</h3>
										<address>
											<p>
												<strong>Alex Tuntuni</strong>
											</p>
											<p>
												1355 Market St, Suite 900 <br>San Francisco, CA 94103
											</p>
											<p>Mobile: (123) 456-7890</p>
										</address>
										<a href="#" class="check-btn sqr-btn "><i
											class="fa fa-edit"></i> Edit Address</a>
									</div>
								</div>

								<div class="tab-pane fade" id="account-info" role="tabpanel">
									<div class="myaccount-content">
										<h3>Account Details</h3>
										<div class="account-details-form">
											<form action="#">
												<div class="row">
													<div class="col-lg-6">
														<div class="single-input-item">
															<label for="first-name" class="required">First
																Name</label> <input type="text" id="first-name" />
														</div>
													</div>
													<div class="col-lg-6">
														<div class="single-input-item">
															<label for="last-name" class="required">Last Name</label>
															<input type="text" id="last-name" />
														</div>
													</div>
												</div>
												<div class="single-input-item">
													<label for="display-name" class="required">Display
														Name</label> <input type="text" id="display-name" />
												</div>
												<div class="single-input-item">
													<label for="email" class="required">Email Addres</label> <input
														type="email" id="email" />
												</div>
												<fieldset>
													<legend>Password change</legend>
													<div class="single-input-item">
														<label for="current-pwd" class="required">Current
															Password</label> <input type="password" id="current-pwd" />
													</div>
													<div class="row">
														<div class="col-lg-6">
															<div class="single-input-item">
																<label for="new-pwd" class="required">New
																	Password</label> <input type="password" id="new-pwd" />
															</div>
														</div>
														<div class="col-lg-6">
															<div class="single-input-item">
																<label for="confirm-pwd" class="required">Confirm
																	Password</label> <input type="password" id="confirm-pwd" />
															</div>
														</div>
													</div>
												</fieldset>
												<div class="single-input-item">
													<button class="check-btn sqr-btn ">Save Changes</button>
												</div>
											</form>
										</div>
									</div>
								</div>

							</div>
						</div>
						<!-- /tab content -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end page wrapper -->
</section>
<th:block th:fragment="extraJs">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- 如果還有你的頁面圖表初始化 JS，可放這裡 -->
  </th:block>
</body>
</html>
