<!DOCTYPE html>
<html class="no-js" lang="zh-Hant-TW"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>BabyMate</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Favicon -->
<link rel="icon" th:href="@{/assets/images/mother_baby_icon.ico}">

<!-- CSS ============================================ -->
<link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/assets/css/font-awesome.min.css}">
<link rel="stylesheet" th:href="@{/assets/css/ionicons.min.css}">
<link rel="stylesheet" th:href="@{/assets/css/themify-icons.css}">
<link rel="stylesheet" th:href="@{/assets/css/plugins.css}">
<link rel="stylesheet" th:href="@{/assets/css/helper.css}">
<link rel="stylesheet" th:href="@{/assets/css/main.css}">

<!-- Modernizer JS -->
<script th:src="@{/assets/js/vendor/modernizr-2.8.3.min.js}"></script>
</head>

<body>
	<!-- Header -->
	<header class="header header-offcanvas-about header-sticky">
		<div class="header-bottom pt-md-40 pb-md-40 pt-sm-40 pb-sm-40">
			<div class="container wide">
				<div class="header-bottom-container">
					<!-- logo & offcanvas -->
					<div class="logo-with-offcanvas d-flex">
						<div class="offcanvas-about-icon mr-20 d-none d-lg-block">
							<a href="javascript:void(0)" id="offcanvas-about-icon"> <i
								class="ion-navicon"></i>
							</a>
						</div>
						<div class="logo">
							<a th:href="@{/}"> <img
								th:src="@{/assets/images/babymate.png}" class="img-fluid"
								alt="BabyMate 首頁">
							</a>
						</div>
					</div>

					<!-- nav -->
					<div class="header-bottom-navigation">
						<div class="site-main-nav d-none d-lg-block">
							<nav class="site-nav center-menu">
								<ul>
									<li class="menu-item-has-children"><a href="/shop/left"
										th:href="@{/shop/left}">商城</a>
										<ul class="sub-menu single-column-menu">
											<li><a href="/shop/left" th:href="@{/shop/left}">查看所有商品</a></li>
										</ul></li>
									<li class="menu-item-has-children"><a
										href="javascript:void(0)">尋找診所</a>
										<ul class="sub-menu single-column-menu">
											<li><a href="/element/google-maps"
												th:href="@{/element/google-maps}">診所地圖</a></li>
										</ul></li>
									<li class="menu-item-has-children"><a
										href="javascript:void(0)">會員中心</a>
										<ul class="sub-menu single-column-menu">
											<li><a href="/blog/full-grid-left"
												th:href="@{/blog/full-grid-left}">會員儀表板</a></li>
											<li><a href="/my-account" th:href="@{/my-account}">我的訂單</a></li>
											<li><a href="/faq" th:href="@{/faq}">F.A.Q</a></li>
										</ul></li>
									<li class="menu-item-has-children "><a
										href="javascript:void(0)">討論區</a>
										<ul class="sub-menu single-column-menu">
											<li><a href="/blog/standard-left"
												th:href="@{/blog/standard-left}">看板貼文</a></li>
										</ul></li>
								</ul>
							</nav>
						</div>
					</div>

					<!-- right icons -->
					<div class="header-right-container">
						<div
							class="header-right-icons d-flex justify-content-end align-items-center h-100">
							<div class="single-icon search">
								<a href="javascript:void(0)" id="search-icon"><i
									class="ion-ios-search-strong"></i></a>
							</div>
							<div class="single-icon user-login">
								<a href="/shop/login" th:href="@{/shop/login}"><i
									class="ion-android-person"></i></a>
							</div>
							<div class="single-icon wishlist">
								<a href="javascript:void(0)" id="offcanvas-wishlist-icon"> <i
									class="ion-android-favorite-outline"></i><span class="count">2</span>
								</a>
							</div>
							<div class="single-icon cart">
								<a href="javascript:void(0)" id="offcanvas-cart-icon"> <i
									class="ion-ios-cart"></i><span class="count">3</span>
								</a>
							</div>
						</div>
					</div>
				</div>

				<!-- Mobile Navigation -->
				<div class="site-mobile-navigation d-block d-lg-none">
					<div id="dl-menu" class="dl-menuwrapper site-mobile-nav">
						<!--Site Mobile Menu Toggle Start-->
						<button class="dl-trigger hamburger hamburger--spin">
							<span class="hamburger-box"> <span class="hamburger-inner"></span>
							</span>
						</button>
						<!--Site Mobile Menu Toggle End-->
						<ul class="dl-menu dl-menu-toggle">
							<li><a href="#">商城</a>
								<ul class="dl-submenu">
									<li class=""><a href="/shop/left" th:href="@{/shop/left}">查看所有商品</a></li>
								</ul></li>
							<li><a href="#">尋找診所</a>
								<ul class="dl-submenu">
									<li><a href="/element/google-maps"
										th:href="@{/element/google-maps}">診所地圖</a></li>
								</ul></li>
							<li><a href="#">會員中心</a>
								<ul class="dl-submenu">
									<li><a href="/blog/full-grid-left"
										th:href="@{/blog/full-grid-left}">會員儀表板</a></li>
									<li><a href="my-account.html" th:href="@{/my-account}">我的訂單</a></li>
									<li><a href="faq.html" th:href="@{/faq}">F.A.Q</a></li>
								</ul></li>
							<li><a href="#">討論區</a>
								<ul class="dl-submenu">
									<li><a href="/blog/standard-left"
										th:href="@{/blog/standard-left}">看板貼文</a></li>
								</ul></li>
						</ul>
					</div>
				</div>
				<!-- /Mobile Navigation -->
			</div>
		</div>
	</header>
	<!-- /Header -->

	<!-- breadcrumb -->
	<div class="breadcrumb-area breadcrumb-bg-2 pt-50 pb-70">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h1 class="breadcrumb-title">BABYMATE商城</h1>
					<ul class="breadcrumb-list">
						<li class="breadcrumb-list__item"><a th:href="@{/index}">首頁</a></li>
						<li class="breadcrumb-list__item breadcrumb-list__item--active"><a
							th:href="@{/shop/left-sidebar}">商城首頁</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- /breadcrumb -->

	<!-- content -->
	<div class="shop-page-wrapper mt-100 mb-100">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">

					<div class="shop-product">
						<div class="row pb-100">
							<div class="col-lg-6 mb-md-70 mb-sm-70">
								<!-- product big gallery -->
								<div class="shop-product__big-image-gallery-wrapper mb-30">
									<div class="shop-product-rightside-icons">
										<span class="wishlist-icon"> <a href="#"
											data-tippy="Add to wishlist" data-tippy-placement="left"
											data-tippy-inertia="true" data-tippy-animation="shift-away"
											data-tippy-delay="50" data-tippy-arrow="true"
											data-tippy-theme="sharpborder"> <i
												class="ion-android-favorite-outline"></i>
										</a>
										</span> <span class="enlarge-icon"> <a class="btn-zoom-popup"
											href="#" data-tippy="Click to enlarge"
											data-tippy-placement="left" data-tippy-inertia="true"
											data-tippy-animation="shift-away" data-tippy-delay="50"
											data-tippy-arrow="true" data-tippy-theme="sharpborder"><i
												class="ion-android-expand"></i></a>
										</span>
									</div>

									<div class="shop-product__big-image-gallery-slider">
										<div class="single-image">
											<img th:src="@{/assets/images/products/test1.jpg}"
												class="img-fluid" alt="商品主圖">
										</div>
										<!-- 若有更多圖片，可複製上方 single-image 並更換 th:src -->
									</div>
								</div>
								<!-- /product big gallery -->
							</div>

							<div class="col-lg-6">
								<!-- product description -->
								<div class="shop-product__description">
									<!-- navigation (上一個/下一個) -->
									<div class="shop-product__navigation">
										<a th:href="@{/shop/product-basic}"><i
											class="ion-ios-arrow-thin-left"></i></a> <a
											th:href="@{/shop/product-basic}"><i
											class="ion-ios-arrow-thin-right"></i></a>
									</div>

									<!-- rating -->
									<div class="shop-product__rating mb-15">
										<span class="product-rating"> <i
											class="active ion-android-star"></i> <i
											class="active ion-android-star"></i> <i
											class="active ion-android-star"></i> <i
											class="active ion-android-star"></i> <i
											class="ion-android-star-outline"></i>
										</span> <span class="review-link ml-20"><a href="#">(3
												customer reviews)</a></span>
									</div>

									<!-- title -->
									<div class="shop-product__title mb-15">
										<h2>奶粉奶粉奶粉奶粉奶粉奶粉奶粉奶粉奶粉奶粉</h2>
									</div>

									<!-- price -->
									<div class="shop-product__price mb-30">
										<span class="main-price">NT$160.00</span>
									</div>

									<!-- short desc -->
									<div class="shop-product__short-desc mb-50">我是文字訊息</div>

									<!-- qty -->
									<div
										class="shop-product__block shop-product__block--quantity mb-40">
										<div class="shop-product__block__title">Quantity:</div>
										<div class="shop-product__block__value">
											<div class="pro-qty d-inline-block mx-0 pt-0">
												<input type="text" value="1">
											</div>
										</div>
									</div>

									<!-- buttons -->
									<div class="shop-product__buttons mb-40">
										<a class="lezada-button lezada-button--medium" href="#">加入購物車</a>
										<a class="lezada-compare-button ml-20" href="#"
											data-tippy="Compare" data-tippy-inertia="true"
											data-tippy-animation="shift-away" data-tippy-delay="50"
											data-tippy-placement="left" data-tippy-arrow="true"
											data-tippy-theme="sharpborder"><i class="ion-ios-shuffle"></i></a>
									</div>

									<!-- other info -->
									<div class="quick-view-other-info pb-0">
										<table>
											<tr class="single-info">
												<td class="quickview-title">SKU:</td>
												<td class="quickview-value">12345</td>
											</tr>
											<tr class="single-info">
												<td class="quickview-title">Categories:</td>
												<td class="quickview-value"><a href="#">Fashion</a>, <a
													href="#">Men</a>, <a href="#">Sunglasses</a></td>
											</tr>
											<tr class="single-info">
												<td class="quickview-title">Tags:</td>
												<td class="quickview-value"><a href="#">Fashion</a>, <a
													href="#">Men</a></td>
											</tr>
											<tr class="single-info">
												<td class="quickview-title">Share on:</td>
												<td class="quickview-value">
													<ul class="quickview-social-icons">
														<li><a href="https://www.facebook.com"
															target="_blank" rel="noopener noreferrer"><i
																class="fa fa-facebook"></i></a></li>
														<li><a href="https://twitter.com" target="_blank"
															rel="noopener noreferrer"><i class="fa fa-twitter"></i></a></li>
														<li><a href="https://plus.google.com" target="_blank"
															rel="noopener noreferrer"><i
																class="fa fa-google-plus"></i></a></li>
														<li><a href="https://www.pinterest.com"
															target="_blank" rel="noopener noreferrer"><i
																class="fa fa-pinterest"></i></a></li>
													</ul>
												</td>
											</tr>
										</table>
									</div>
								</div>
								<!-- /product description -->
							</div>
						</div>

						<div class="row">
							<div class="col-lg-12">
								<!-- product description tabs -->
								<div class="shop-product__description-tab pt-100">
									<div
										class="tab-product-navigation tab-product-navigation--product-desc mb-50">
										<div class="nav nav-tabs justify-content-center" id="nav-tab2"
											role="tablist">
											<a class="nav-item nav-link active" id="product-tab-1"
												data-bs-toggle="tab" href="#product-series-1" role="tab"
												aria-selected="true">特色說明</a> <a class="nav-item nav-link"
												id="product-tab-2" data-bs-toggle="tab"
												href="#product-series-2" role="tab" aria-selected="false">規格說明</a>
											<a class="nav-item nav-link" id="product-tab-3"
												data-bs-toggle="tab" href="#product-series-3" role="tab"
												aria-selected="false">注意事項</a> <a class="nav-item nav-link"
												id="product-tab-4" data-bs-toggle="tab"
												href="#product-series-4" role="tab" aria-selected="false">商品評價</a>
										</div>
									</div>

									<div class="tab-content" id="nav-tabContent2">
										<div class="tab-pane fade show active" id="product-series-1"
											role="tabpanel" aria-labelledby="product-tab-1">
											<div class="shop-product__long-desc mb-30">
												<p>這裡是要打特色說明內容</p>
											</div>
										</div>

										<div class="tab-pane fade" id="product-series-2"
											role="tabpanel" aria-labelledby="product-tab-2">
											<div class="shop-product__additional-info">
												<table class="shop-attributes">
													<tbody>
														<tr>
															<th>Size</th>
															<td><p>L, M, S, XS</p></td>
														</tr>
														<tr>
															<th>Color</th>
															<td><p>Black, Blue, Brown</p></td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>

										<div class="tab-pane fade" id="product-series-4"
											role="tabpanel" aria-labelledby="product-tab-4">
											<div class="shop-product__review">
												<h2 class="review-title mb-20">3 reviews for High-waist
													Trousers</h2>

												<div class="single-review">
													<div class="single-review__image">
														<img th:src="@{/assets/images/user/user1.jpeg}"
															class="img-fluid" alt="用戶1頭像">
													</div>
													<div class="single-review__content">
														<div class="shop-product__rating">
															<span class="product-rating"> <i
																class="active ion-android-star"></i> <i
																class="active ion-android-star"></i> <i
																class="active ion-android-star"></i> <i
																class="active ion-android-star"></i> <i
																class="ion-android-star-outline"></i>
															</span>
														</div>
														<p class="username">
															Scott James <span class="date">/ April 5, 2022</span>
														</p>
														<p class="message">Thanks for always keeping your HTML
															themes up to date. Your level of support and dedication
															is second to none.</p>
													</div>
												</div>

												<div class="single-review">
													<div class="single-review__image">
														<img th:src="@{/assets/images/user/user2.jpeg}"
															class="img-fluid" alt="用戶2頭像">
													</div>
													<div class="single-review__content">
														<div class="shop-product__rating">
															<span class="product-rating"> <i
																class="active ion-android-star"></i> <i
																class="active ion-android-star"></i> <i
																class="active ion-android-star"></i> <i
																class="active ion-android-star"></i> <i
																class="ion-android-star-outline"></i>
															</span>
														</div>
														<p class="username">
															Owen Christ <span class="date">/ April 7, 2022</span>
														</p>
														<p class="message">I didn’t expect this poster to
															arrive folded. Now there are lines on the poster and one
															sad Ninja.</p>
													</div>
												</div>

												<div class="single-review">
													<div class="single-review__image">
														<img th:src="@{/assets/images/user/user3.jpeg}"
															class="img-fluid" alt="用戶3頭像">
													</div>
													<div class="single-review__content">
														<div class="shop-product__rating">
															<span class="product-rating"> <i
																class="active ion-android-star"></i> <i
																class="active ion-android-star"></i> <i
																class="active ion-android-star"></i> <i
																class="active ion-android-star"></i> <i
																class="ion-android-star-outline"></i>
															</span>
														</div>
														<p class="username">
															Edna Watson <span class="date">/ April 5, 2022</span>
														</p>
														<p class="message">Can’t wait to start mixin’ with
															this one! Irba-irr-Up-up-up-up-date your theme!</p>
													</div>
												</div>

												<h2 class="review-title mb-20">Add a review</h2>
												<p class="text-center">Your email address will not be
													published. Required fields are marked *</p>

												<div class="lezada-form lezada-form--review">
													<form action="#">
														<div class="row">
															<div class="col-lg-6 mb-20">
																<input type="text" placeholder="Name *" required>
															</div>
															<div class="col-lg-6 mb-20">
																<input type="email" placeholder="Email *" required>
															</div>
															<div class="col-lg-12 mb-20">
																<span class="rating-title mr-30">YOUR RATING</span> <span
																	class="product-rating"> <i
																	class="active ion-android-star-outline"></i> <i
																	class="active ion-android-star-outline"></i> <i
																	class="active ion-android-star-outline"></i> <i
																	class="active ion-android-star-outline"></i> <i
																	class="active ion-android-star-outline"></i>
																</span>
															</div>
															<div class="col-lg-12 mb-20">
																<textarea cols="30" rows="10"
																	placeholder="Your review *"></textarea>
															</div>
															<div class="col-lg-12 text-center">
																<button type="submit"
																	class="lezada-button lezada-button--medium">submit</button>
															</div>
														</div>
													</form>
												</div>
											</div>
										</div>

										<!-- 注意事項(目前無內容，可依需求增填) -->
										<div class="tab-pane fade" id="product-series-3"
											role="tabpanel" aria-labelledby="product-tab-3"></div>
									</div>
								</div>
								<!-- /product description tabs -->
							</div>
						</div>

					</div>
					<!-- /shop product -->
				</div>
			</div>
		</div>
	</div>
	<!-- /content -->

	<!-- footer -->
	<div class="footer-container footer-one pt-100 pb-50">
		<div class="container wide">
			<div class="row">
				<div class="col footer-single-widget">
					<div class="logo">
						<img class="img-fluid"
							th:src="@{/assets/images/babymate_logo.png}" alt="BabyMate">
					</div>
					<div class="copyright-text">
						<p>
							&copy; <span
								th:text="${#calendars.format(#dates.createNow(),'yyyy')}">2025</span>
							BABYMATE. <span>All Rights Reserved</span>
						</p>
					</div>
				</div>

				<div class="col footer-single-widget">
					<h5 class="widget-title">ABOUT</h5>
					<div class="footer-nav-container">
						<nav>
							<ul>
								<li><a href="#">About us</a></li>
								<li><a href="#">Store location</a></li>
								<li><a href="#">Contact</a></li>
								<li><a href="#">Orders tracking</a></li>
							</ul>
						</nav>
					</div>
				</div>

				<div class="col footer-single-widget">
					<h5 class="widget-title">USEFUL LINKS</h5>
					<div class="footer-nav-container">
						<nav>
							<ul>
								<li><a href="#">Returns</a></li>
								<li><a href="#">Support Policy</a></li>
								<li><a href="#">Size guide</a></li>
								<li><a href="#">FAQs</a></li>
							</ul>
						</nav>
					</div>
				</div>

				<div class="col footer-single-widget">
					<h5 class="widget-title">FOLLOW US ON</h5>
					<div class="footer-nav-container footer-social-links">
						<nav>
							<ul>
								<li><a href="https://twitter.com" target="_blank"
									rel="noopener noreferrer"><i class="fa fa-twitter"></i>
										Twitter</a></li>
								<li><a href="https://facebook.com" target="_blank"
									rel="noopener noreferrer"><i class="fa fa-facebook"></i>
										Facebook</a></li>
								<li><a href="https://instagram.com" target="_blank"
									rel="noopener noreferrer"><i class="fa fa-instagram"></i>
										Instagram</a></li>
								<li><a href="https://youtube.com" target="_blank"
									rel="noopener noreferrer"><i class="fa fa-youtube"></i>
										Youtube</a></li>
							</ul>
						</nav>
					</div>
				</div>

				<div class="col footer-single-widget">
					<div class="footer-subscription-widget">
						<h2 class="footer-subscription-title">Subscribe.</h2>
						<p class="subscription-subtitle">Subscribe to our newsletter
							to receive news on update.</p>
						<div class="subscription-form">
							<form id="mc-form" class="mc-form">
								<input type="email" placeholder="Your email address" required>
								<button type="submit">
									<i class="ion-ios-arrow-thin-right"></i>
								</button>
							</form>
						</div>
						<div class="mailchimp-alerts">
							<div class="mailchimp-submitting"></div>
							<div class="mailchimp-success"></div>
							<div class="mailchimp-error"></div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	<!-- /footer -->

	<!-- overlays -->
	<!-- 關於我們 -->
	<div class="header-offcanvas about-overlay" id="about-overlay">
		<div class="overlay-close inactive"></div>
		<div class="overlay-content">
			<span class="close-icon" id="about-close-icon"> <a
				href="javascript:void(0)"><i class="ti-close"></i></a>
			</span>
			<div
				class="overlay-content-container d-flex flex-column justify-content-between h-100">
				<div class="widget-wrapper">
					<div class="single-widget">
						<h2 class="widget-title">關於我們</h2>
						<p>我們致力於打造一個貼近媽媽與家庭需求的數位平台，讓使用者可以方便地找到附近診所，獲取安心的醫療資訊。我們同時設計了孕婦與嬰幼兒專賣商城，提供多樣化的商品選擇，讓新手爸媽購物更加便利。平台內也設有交流討論區，讓新手媽媽可以彼此分享育兒心得，孕媽咪也能互相交流孕期經驗。此外，我們將寶寶健康手冊數位化，包含生長曲線圖與健康紀錄，並提供孕婦手冊功能，幫助準媽媽追蹤產檢與孕期健康狀況。我們希望透過這個平台，陪伴每一位媽媽從孕期到育兒的每一步，感受到支持與便利。</p>
					</div>
				</div>
				<br>
				<div class="contact-widget">
					<p class="email">
						<a href="mailto:babymate@babymate.com">babymate@babymate.com</a>
					</p>
					<p class="phone">0800 580 520</p>
					<div class="social-icons">
						<ul>
							<li><a href="https://www.twitter.com" target="_blank"
								rel="noopener noreferrer"><i class="fa fa-twitter"></i></a></li>
							<li><a href="https://www.facebook.com" target="_blank"
								rel="noopener noreferrer"><i class="fa fa-facebook"></i></a></li>
							<li><a href="https://www.instagram.com" target="_blank"
								rel="noopener noreferrer"><i class="fa fa-instagram"></i></a></li>
							<li><a href="https://www.youtube.com" target="_blank"
								rel="noopener noreferrer"><i class="fa fa-youtube-play"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--=======  wishlist overlay  =======-->

	<div class="wishlist-overlay" id="wishlist-overlay">
		<div class="wishlist-overlay-close inactive"></div>
		<div class="wishlist-overlay-content">
			<!--=======  close icon  =======-->

			<span class="close-icon" id="wishlist-close-icon"> <a
				href="javascript:void(0)"> <i class="ion-android-close"></i>
			</a>
			</span>

			<!--=======  End of close icon  =======-->

			<!--=======  offcanvas wishlist content container  =======-->

			<div class="offcanvas-cart-content-container">
				<h3 class="cart-title">Wishlist</h3>

				<div class="cart-product-wrapper">
					<div class="cart-product-container  ps-scroll">
						<!--=======  single cart product  =======-->

						<div class="single-cart-product">
							<span class="cart-close-icon"> <a href="#"><i
									class="ti-close"></i></a>
							</span>
							<div class="image">
								<a href="shop-product-basic.html"
									th:href="@{/shop/product-basic}"> <img
									src="assets/images/cart-product-image/01.jpg" class="img-fluid"
									alt="" th:src="@{/assets/images/cart-product-image/01.jpg}">
								</a>
							</div>
							<div class="content">
								<h5>
									<a href="shop-product-basic.html"
										th:href="@{/shop/product-basic}">Dark Brown Leather Watch</a>
								</h5>
								<p>
									<span class="main-price discounted">$200.00</span> <span
										class="discounted-price">$180.00</span>
								</p>

							</div>
						</div>

						<!--=======  End of single cart product  =======-->
						<!--=======  single cart product  =======-->

						<div class="single-cart-product">
							<span class="cart-close-icon"> <a href="#"><i
									class="ti-close"></i></a>
							</span>
							<div class="image">
								<a href="shop-product-basic.html"
									th:href="@{/shop/product-basic}"> <img
									src="assets/images/cart-product-image/02.jpg" class="img-fluid"
									alt="" th:src="@{/assets/images/cart-product-image/02.jpg}">
								</a>
							</div>
							<div class="content">
								<h5>
									<a href="shop-product-basic.html"
										th:href="@{/shop/product-basic}">Dining Chair</a>
								</h5>
								<p>
									<span class="main-price discounted">$300.00</span> <span
										class="discounted-price">$220.00</span>
								</p>

							</div>
						</div>

						<!--=======  End of single cart product  =======-->
						<!--=======  single cart product  =======-->

						<div class="single-cart-product">
							<span class="cart-close-icon"> <a href="#"><i
									class="ti-close"></i></a>
							</span>
							<div class="image">
								<a href="shop-product-basic.html"
									th:href="@{/shop/product-basic}"> <img
									src="assets/images/cart-product-image/03.jpg" class="img-fluid"
									alt="" th:src="@{/assets/images/cart-product-image/03.jpg}">
								</a>
							</div>
							<div class="content">
								<h5>
									<a href="shop-product-basic.html"
										th:href="@{/shop/product-basic}">Creative Wooden Stand</a>
								</h5>
								<p>
									<span class="main-price discounted">$100.00</span> <span
										class="discounted-price">$80.00</span>
								</p>

							</div>
						</div>

						<!--=======  End of single cart product  =======-->
						<!--=======  single cart product  =======-->

						<div class="single-cart-product">
							<span class="cart-close-icon"> <a href="#"><i
									class="ti-close"></i></a>
							</span>
							<div class="image">
								<a href="shop-product-basic.html"
									th:href="@{/shop/product-basic}"> <img
									src="assets/images/cart-product-image/01.jpg" class="img-fluid"
									alt="" th:src="@{/assets/images/cart-product-image/01.jpg}">
								</a>
							</div>
							<div class="content">
								<h5>
									<a href="shop-product-basic.html"
										th:href="@{/shop/product-basic}">Dark Brown Leather Watch</a>
								</h5>
								<p>
									<span class="main-price discounted">$200.00</span> <span
										class="discounted-price">$180.00</span>
								</p>

							</div>
						</div>

						<!--=======  End of single cart product  =======-->
						<!--=======  single cart product  =======-->

						<div class="single-cart-product">
							<span class="cart-close-icon"> <a href="#"><i
									class="ti-close"></i></a>
							</span>
							<div class="image">
								<a href="shop-product-basic.html"
									th:href="@{/shop/product-basic}"> <img
									src="assets/images/cart-product-image/02.jpg" class="img-fluid"
									alt="" th:src="@{/assets/images/cart-product-image/02.jpg}">
								</a>
							</div>
							<div class="content">
								<h5>
									<a href="shop-product-basic.html"
										th:href="@{/shop/product-basic}">Creative Wooden Stand</a>
								</h5>
								<p>
									<span class="main-price discounted">$200.00</span> <span
										class="discounted-price">$180.00</span>
								</p>

							</div>
						</div>

						<!--=======  End of single cart product  =======-->
					</div>

					<!--=======  cart buttons  =======-->

					<div class="cart-buttons">
						<a href="shop-wishlist.html" th:href="@{/shop/wishlist}">view
							wishlist</a>
					</div>

					<!--=======  End of cart buttons  =======-->
				</div>
			</div>

			<!--=======  End of offcanvas wishlist content container   =======-->
		</div>
	</div>

	<!--=======  End of wishlist overlay  =======-->

	<div class="cart-overlay" id="cart-overlay">
		<div class="cart-overlay-close inactive"></div>
		<div class="cart-overlay-content">
			<span class="close-icon" id="cart-close-icon"><a
				href="javascript:void(0)"><i class="ion-android-close"></i></a></span>
			<div class="offcanvas-cart-content-container">
				<h3 class="cart-title">Cart</h3>
				<div class="cart-product-wrapper">
					<div class="cart-product-container  ps-scroll">
						<div class="single-cart-product">
							<span class="cart-close-icon"><a href="#"><i
									class="ti-close"></i></a></span>
							<div class="image">
								<a th:href="@{/shop/product-basic}"><img
									th:src="@{/assets/images/cart-product-image/01.jpg}"
									class="img-fluid" alt=""></a>
							</div>
							<div class="content">
								<h5>
									<a th:href="@{/shop/product-basic}">Dark Brown Leather
										Watch</a>
								</h5>
								<p>
									<span class="cart-count">2 x </span> <span
										class="discounted-price">$180.00</span>
								</p>
							</div>
						</div>

						<div class="single-cart-product">
							<span class="cart-close-icon"><a href="#"><i
									class="ti-close"></i></a></span>
							<div class="image">
								<a th:href="@{/shop/product-basic}"><img
									th:src="@{/assets/images/cart-product-image/02.jpg}"
									class="img-fluid" alt=""></a>
							</div>
							<div class="content">
								<h5>
									<a th:href="@{/shop/product-basic}">Dining Chair</a>
								</h5>
								<p>
									<span class="cart-count">2 x </span> <span
										class="discounted-price">$220.00</span>
								</p>
							</div>
						</div>

						<div class="single-cart-product">
							<span class="cart-close-icon"><a href="#"><i
									class="ti-close"></i></a></span>
							<div class="image">
								<a th:href="@{/shop/product-basic}"><img
									th:src="@{/assets/images/cart-product-image/03.jpg}"
									class="img-fluid" alt=""></a>
							</div>
							<div class="content">
								<h5>
									<a th:href="@{/shop/product-basic}">Creative Wooden Stand</a>
								</h5>
								<p>
									<span class="cart-count">2 x </span> <span
										class="discounted-price">$80.00</span>
								</p>
							</div>
						</div>

						<div class="single-cart-product">
							<span class="cart-close-icon"><a href="#"><i
									class="ti-close"></i></a></span>
							<div class="image">
								<a th:href="@{/shop/product-basic}"><img
									th:src="@{/assets/images/cart-product-image/01.jpg}"
									class="img-fluid" alt=""></a>
							</div>
							<div class="content">
								<h5>
									<a th:href="@{/shop/product-basic}">Dark Brown Leather
										Watch</a>
								</h5>
								<p>
									<span class="cart-count">2 x </span> <span
										class="discounted-price">$180.00</span>
								</p>
							</div>
						</div>

						<div class="single-cart-product">
							<span class="cart-close-icon"><a href="#"><i
									class="ti-close"></i></a></span>
							<div class="image">
								<a th:href="@{/shop/product-basic}"><img
									th:src="@{/assets/images/cart-product-image/02.jpg}"
									class="img-fluid" alt=""></a>
							</div>
							<div class="content">
								<h5>
									<a th:href="@{/shop/product-basic}">Creative Wooden Stand</a>
								</h5>
								<p>
									<span class="cart-count">2 x </span> <span
										class="discounted-price">$180.00</span>
								</p>
							</div>
						</div>
					</div>

					<p class="cart-subtotal">
						<span class="subtotal-title">Subtotal:</span> <span
							class="subtotal-amount">$200.00</span>
					</p>

					<div class="cart-buttons">
						<a th:href="@{/shop/cart}">view cart</a> <a
							th:href="@{/shop/checkout}">checkout</a>
					</div>

					<p class="free-shipping-text">Free Shipping on All Orders Over
						$100!</p>
				</div>
			</div>
		</div>
	</div>

	<!-- Search overlay -->
	<div class="search-overlay" id="search-overlay">
		<span class="close-icon search-close-icon"><a
			href="javascript:void(0)" id="search-close-icon"><i
				class="ti-close"></i></a></span>
		<div class="search-overlay-content">
			<div class="input-box">
				<form th:action="@{/}">
					<input type="search" placeholder="Search Products...">
				</form>
			</div>
			<div class="search-hint">
				<span># Hit enter to search or ESC to close</span>
			</div>
		</div>
	</div>


	<!-- scroll to top -->
	<a href="#" class="scroll-top"></a>
	<!-- /scroll to top -->

	<!-- JS ============================================ -->
	<script th:src="@{/assets/js/vendor/jquery.min.js}"></script>
	<script th:src="@{/assets/js/popper.min.js}"></script>
	<script th:src="@{/assets/js/bootstrap.min.js}"></script>
	<script th:src="@{/assets/js/plugins.js}"></script>
	<script th:src="@{/assets/js/main.js}"></script>
</body>
</html>
