<!DOCTYPE html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>BabyMate</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Favicon -->
<link rel="icon" href="assets/images/favicon.ico"
	th:href="@{/assets/images/favicon.ico}">

<!-- CSS=========================================== -->
<!-- Bootstrap CSS -->
<link href="assets/css/bootstrap.min.css" rel="stylesheet"
	th:href="@{/assets/css/bootstrap.min.css}">

<!-- FontAwesome CSS -->
<link href="assets/css/font-awesome.min.css" rel="stylesheet"
	th:href="@{/assets/css/font-awesome.min.css}">

<!-- Ionicons CSS -->
<link href="assets/css/ionicons.min.css" rel="stylesheet"
	th:href="@{/assets/css/ionicons.min.css}">

<!-- Themify CSS -->
<link href="assets/css/themify-icons.css" rel="stylesheet"
	th:href="@{/assets/css/themify-icons.css}">

<!-- Plugins CSS -->
<link href="assets/css/plugins.css" rel="stylesheet"
	th:href="@{/assets/css/plugins.css}">

<!-- Helper CSS -->
<link href="assets/css/helper.css" rel="stylesheet"
	th:href="@{/assets/css/helper.css}">

<!-- Main CSS -->
<link href="assets/css/main.css" rel="stylesheet"
	th:href="@{/assets/css/main.css}">

<!-- Modernizer JS -->
<script src="assets/js/vendor/modernizr-2.8.3.min.js"
	th:src="@{/assets/js/vendor/modernizr-2.8.3.min.js}"></script>

</head>

<body>


	<!--=============================================
	=            Header offcanvas about         =
	=============================================-->

	<header class="header header-offcanvas-about header-sticky">

		<!--=======  header bottom  =======-->

		<div class="header-bottom pt-md-40 pb-md-40 pt-sm-40 pb-sm-40">
			<div class="container wide">

				<!--=======  header bottom container  =======-->

				<div class="header-bottom-container">

					<!--=======  logo with off canvas  =======-->

					<div class="logo-with-offcanvas d-flex">

						<!--=======  offcanvas about icon  =======-->

						<div class="offcanvas-about-icon mr-20 d-none d-lg-block">
							<a href="javascript:void(0)" id="offcanvas-about-icon"> <i
								class="ion-navicon"></i>
							</a>
						</div>

						<!--=======  End of offcanvas about icon  =======-->

						<!--=======  logo   =======-->

						<div class="logo">
							<a href="/" th:href="@{/}"> <img
								src="assets/images/babymate.png" class="img-fluid" alt=""
								th:src="@{/assets/images/babymate.png}">
							</a>
						</div>

						<!--=======  End of logo   =======-->
					</div>

					<!--=======  End of logo with off canvas  =======-->

					<!--=======  header bottom navigation  =======-->

					<div class="header-bottom-navigation">
						<div class="site-main-nav d-none d-lg-block">
							<nav class="site-nav center-menu">
								<ul>
									<li class="menu-item-has-children"><a href="/shop/left"
										th:href="@{/shop/left}">商城</a>
										<ul class="sub-menu single-column-menu">
											<li><a href="/shop/left" th:href="@{/shop/left}">查看所有商品</a></li>
										</ul></li>
									<li class="menu-item-has-children"><a
										href="javascript:void(0)">尋找診所</a>
										<ul class="sub-menu single-column-menu">
											<li><a href="/element/google-maps"
												th:href="@{/element/google-maps}">診所地圖</a></li>
										</ul></li>
									<li class="menu-item-has-children"><a
										href="javascript:void(0)">會員中心</a>
										<ul class="sub-menu single-column-menu">
											<li><a href="/blog/full-grid-left"
												th:href="@{/blog/full-grid-left}">會員儀表板</a></li>
											<li><a href="/my-account" th:href="@{/my-account}">我的訂單</a></li>
											<li><a href="/faq" th:href="@{/faq}">F.A.Q</a></li>
										</ul></li>
									<li class="menu-item-has-children "><a
										href="javascript:void(0)">討論區</a>
										<ul class="sub-menu single-column-menu">
											<li><a href="/blog/standard-left"
												th:href="@{/blog/standard-left}">看板貼文</a></li>
										</ul></li>
								</ul>
							</nav>
						</div>
					</div>

					<!--=======  End of header bottom navigation  =======-->

					<!--=======  headeer right container  =======-->

					<div class="header-right-container">
						<div
							class="header-right-icons d-flex justify-content-end align-items-center h-100">
							<div class="single-icon search">
								<a href="javascript:void(0)" id="search-icon"><i
									class="ion-ios-search-strong"></i></a>
							</div>
							<div class="single-icon user-login">
								<a href="/shop/login" th:href="@{/shop/login}"><i
									class="ion-android-person"></i></a>
							</div>
							<div class="single-icon wishlist">
								<a href="javascript:void(0)" id="offcanvas-wishlist-icon"> <i
									class="ion-android-favorite-outline"></i><span class="count">2</span>
								</a>
							</div>
							<div class="single-icon cart">
								<a href="javascript:void(0)" id="offcanvas-cart-icon"> <i
									class="ion-ios-cart"></i><span class="count">3</span>
								</a>
							</div>
							<!-- Member Logout / 會員登出 -->
							<div class="single-icon user-logout">
								<a href="/member/logout" th:href="@{/member/logout}" title="登出"><i
									class="ion-log-out"></i></a>
							</div>
													</div>
					</div>

					<!--=======  End of header right container  =======-->


				</div>

				<!--=======  End of header bottom container  =======-->

				<!-- Mobile Navigation Start Here -->

				<div class="site-mobile-navigation d-block d-lg-none">
					<div id="dl-menu" class="dl-menuwrapper site-mobile-nav">
						<!--Site Mobile Menu Toggle Start-->
						<button class="dl-trigger hamburger hamburger--spin">
							<span class="hamburger-box"> <span class="hamburger-inner"></span>
							</span>
						</button>
						<!--Site Mobile Menu Toggle End-->
						<ul class="dl-menu dl-menu-toggle">
							<li><a href="#">商城</a>
								<ul class="dl-submenu">
									<li class=""><a href="/shop/left" th:href="@{/shop/left}">查看所有商品</a></li>
								</ul></li>
							<li><a href="#">尋找診所</a>
								<ul class="dl-submenu">
									<li><a href="/element/google-maps"
										th:href="@{/element/google-maps}">診所地圖</a></li>
								</ul></li>
							<li><a href="#">會員中心</a>
								<ul class="dl-submenu">
									<li><a href="/blog/full-grid-left"
										th:href="@{/blog/full-grid-left}">會員儀表板</a></li>
									<li><a href="my-account.html" th:href="@{/my-account}">我的訂單</a></li>
									<li><a href="faq.html" th:href="@{/faq}">F.A.Q</a></li>
								</ul></li>
							<li><a href="#">討論區</a>
								<ul class="dl-submenu">
									<li><a href="/blog/standard-left"
										th:href="@{/blog/standard-left}">看板貼文</a></li>
								</ul></li>
						</ul>
					</div>
				</div>

				<!-- Mobile Navigation End Here -->


			</div>
		</div>

		<!--=======  End of header bottom  =======-->
	</header>

	<!--===== End of Header offcanvas about ======-->

	<!--=======  breadcrumb area =======-->

	<div class="breadcrumb-area breadcrumb-bg-1 pt-50 pb-70 mb-130">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h1 class="breadcrumb-title">Customer login</h1>

					<!--=======  breadcrumb list  =======-->

					<ul class="breadcrumb-list">
						<li class="breadcrumb-list__item"><a href="index.html"
							th:href="@{/}">HOME</a></li>
						<li class="breadcrumb-list__item breadcrumb-list__item--active">customer
							login</li>
					</ul>

					<!--=======  End of breadcrumb list  =======-->

				</div>
			</div>
		</div>
	</div>

	<!--=======  End of breadcrumb area =======-->

	<!--=============================================
    =            login page content         =
    =============================================-->

	<div class="login-area mb-130 mb-md-70 mb-sm-70 mb-xs-70 mb-xxs-70">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 mb-md-50 mb-sm-50">
					<div class="lezada-form login-form">
<!-- 						<form action="#"> -->
							<div class="row">
								<div class="col-lg-12">
									<!--=======  login title  =======-->

									<div
										class="section-title section-title--login text-center mb-50">
										<h2 class="mb-20">會員登入</h2>
										<p>歡迎回來! Great to have you back!</p>
									</div>

									<!--=======  End of login title  =======-->
								</div>
								<form th:action="@{/member/loginCheck}" method="post">
								<div class="col-lg-12 mb-60">
									<input type="text" name="account" placeholder="請輸入會員帳號(Email address)" autocomplete="username"
										maxlength="50" required>
								</div>
								<div class="col-lg-12 mb-60">
									<input type="password" name="password" placeholder="請輸入密碼(Password)" autocomplete="current-password" 
									maxlength="20" required>
								</div>
								<div class="col-lg-12 text-center mb-30">
									<button type="submit" class="lezada-button lezada-button--medium">登入</button>
								</div>
								</form>
								<!-- 錯誤表列 -->
									<div class="errorblock text-danger fw-bold" th:if="${errorMessage}" th:text="${errorMessage}"></div><br>
									<div class="successblock text-success fw-bold" th:if="${logoutMessage}" th:text="${logoutMessage}"></div>

								<div class="col-lg-12">
<!-- 									<input type="checkbox"> <span class="remember-text">Remember me</span>  -->
									<a href="#" class="reset-pass-link">忘記密碼?</a>
								</div>
							</div>
<!-- 						</form> -->
					</div>
				</div>
				<div class="col-lg-6">
					<div class="lezada-form login-form--register">
<!-- 						<form action="#"> -->
							<div class="row">
								<div class="col-lg-12">
									<!--=======  login title  =======-->

									<div
										class="section-title section-title--login text-center mb-50">
										<h2 class="mb-20">會員註冊</h2>
										<p>註冊一個新會員吧! Register now!</p>
									</div>

									<!--=======  End of login title  =======-->
								</div>
								<form th:action="@{/member/registerCheck}" method="post">
								<div class="col-lg-12 mb-30">
									<label for="regEmail">會員帳號 (Email Address) <span
										class="required">*</span>
									</label> <input type="text" id="regEmail" name="account" maxlength="50" th:value="${account}" autocomplete="email" required>
								</div>
								<div class="col-lg-12 mb-30">
									<label for="regPassword">信箱驗證碼 <span
										class="required">*</span>
									</label> 
									<div class="d-flex justify-content-between align-items-center me-2">
									  <input type="text" id="authcode" name="captcha" maxlength="6" th:value="${captcha}" autocomplete="off" style="max-width: 300px;" >
									  <button type="button" id= "sendCodeBtn" class="btn btn-primary">發送驗證碼</button>
									</div>
								</div>
								<div class="col-lg-12 mb-30">
									<label for="regPassword">密碼 (Password) <span
										class="required">*</span>
									</label> <input type="password" id="regPassword" name="password" maxlength="20" autocomplete="current-password" required>
								</div>
								<div class="col-lg-12 mb-30">
									<label for="regPassword">確認密碼 (Password Confirmation) <span
										class="required">*</span>
									</label> <input type="password" id="reRegPassword" maxlength="20" autocomplete="current-password" required>
								</div>
								<div class="col-lg-12 text-center">
									<button type="submit" class="lezada-button lezada-button--medium">註冊</button>
								</div>
								</form>
								
								<!-- 錯誤表列 -->
								<p></p>
								<div class="errorblock  text-center" th:if="${errorMessage}" th:text="${errorMessage}"></div>
								<div class="successblock  text-center" th:if="${logoutMessage}" th:text="${logoutMessage}"></div>

							</div>
<!-- 						</form> -->
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<script>
	  function startCountdown() {
		    let timeLeft = 60;
		    sendBtn.disabled = true;
		    sendBtn.textContent = `重新發送 (${timeLeft})`;

		    const timer = setInterval(() => {
		      timeLeft--;
		      sendBtn.textContent = `重新發送 (${timeLeft})`;

		      if (timeLeft <= 0) {
		        clearInterval(timer);
		        sendBtn.disabled = false;
		        sendBtn.textContent = '發送驗證碼';
		      }
		    }, 1000);
		  }
	
	  const sendBtn = document.getElementById('sendCodeBtn');
	  let countdown = null;

	  sendBtn.addEventListener('click', function () {
	    const account = document.getElementById('regEmail').value; // 從輸入框取 Email

	    if (!account) {
	      alert("請輸入 Email 帳號！");
	      return;
	    }

	    // 呼叫後端 API 發送驗證碼
	    fetch('/member/resendAuthCode', {
	      method: 'POST',
	      headers: { 'Content-Type': 'application/json' },
	      body: JSON.stringify({ account: account })
	    })
	    .then(response => {
	      if (!response.ok) {
	        throw new Error("發送失敗");
	      }
	      return response.json();
	    })
	    .then(data => {
	      console.log("後端回應:", data);
	      
	      if (!data.success) {
	    	    alert(data.message || "發送失敗");
	    	    return;
	    	  }
	      
	      alert("驗證碼已寄出，請查看信箱");

	      // 如果後端成功，才開始倒數
	      startCountdown();
	    })
	    .catch(error => {
	      console.error(error);
	      alert("寄送驗證碼失敗，請稍後再試");
	    });
	  });

  </script>

	<!--=====  End of login content  ======-->


	<!--=============================================
	=            footer area         =
	=============================================-->

	<div class="footer-container footer-one pt-100 pb-50">
		<div class="container wide">
			<div class="row">
				<div class="col footer-single-widget">
					<!--=======  copyright text  =======-->
					<!--=======  logo  =======-->

					<div class="logo">
						<img src="assets/images/babymate_logo.png" class="img-fluid"
							alt="" th:src="@{/assets/images/babymate_logo.png}">
					</div>

					<!--=======  End of logo  =======-->

					<!--=======  copyright text  =======-->

					<div class="copyright-text">
						<p>
							&copy;
							<script>
								document.write(new Date().getFullYear() + ' ');
							</script>
							babymate. <span>All Rights Reserved</span>
						</p>
					</div>

					<!--=======  End of copyright text  =======-->

					<!--=======  End of copyright text  =======-->
				</div>
				<div class="col footer-single-widget">
					<!--=======  single widget  =======-->
					<h5 class="widget-title">ABOUT</h5>

					<!--=======  footer navigation container  =======-->

					<div class="footer-nav-container">
						<nav>
							<ul>
								<li><a href="#">About us</a></li>
								<li><a href="#">Store location</a></li>
								<li><a href="#">Contact</a></li>
								<li><a href="#">Orders tracking</a></li>
							</ul>
						</nav>
					</div>

					<!--=======  End of footer navigation container  =======-->

					<!--=======  single widget  =======-->
				</div>
				<div class="col footer-single-widget">
					<!--=======  single widget  =======-->
					<h5 class="widget-title">USEFUL LINKS</h5>

					<!--=======  footer navigation container  =======-->

					<div class="footer-nav-container">
						<nav>
							<ul>
								<li><a href="#">Returns</a></li>
								<li><a href="#">Support Policy</a></li>
								<li><a href="#">Size guide</a></li>
								<li><a href="#">FAQs</a></li>
							</ul>
						</nav>
					</div>

					<!--=======  End of footer navigation container  =======-->

					<!--=======  single widget  =======-->
				</div>

				<div class="col footer-single-widget">
					<!--=======  single widget  =======-->
					<h5 class="widget-title">FOLLOW US ON</h5>

					<!--=======  footer navigation container  =======-->

					<div class="footer-nav-container footer-social-links">
						<nav>
							<ul>
								<li><a href="//twitter.com"><i class="fa fa-twitter"></i>
										Twitter</a></li>
								<li><a href="//facebook.com"> <i class="fa fa-facebook"></i>
										Facebook
								</a></li>
								<li><a href="//instagram.com"><i
										class="fa fa-instagram"></i> Instagram</a></li>
								<li><a href="//youtube.com"> <i class="fa fa-youtube"></i>
										Youtube
								</a></li>
							</ul>
						</nav>
					</div>

					<!--=======  End of footer navigation container  =======-->


					<!--=======  single widget  =======-->
				</div>
				<div class="col footer-single-widget">
					<!--=======  single widget  =======-->

					<div class="footer-subscription-widget">
						<h2 class="footer-subscription-title">Subscribe.</h2>
						<p class="subscription-subtitle">Subscribe to our newsletter
							to receive news on update.</p>

						<!--=======  subscription form  =======-->

						<div class="subscription-form">
							<form id="mc-form" class="mc-form">
								<input type="email" placeholder="Your email address" required>
								<button type="submit">
									<i class="ion-ios-arrow-thin-right"></i>
								</button>
							</form>
						</div>

						<!--=======  End of subscription form  =======-->

						<!-- mailchimp-alerts Start -->

						<div class="mailchimp-alerts">
							<div class="mailchimp-submitting"></div>
							<!-- mailchimp-submitting end -->
							<div class="mailchimp-success"></div>
							<!-- mailchimp-success end -->
							<div class="mailchimp-error"></div>
							<!-- mailchimp-error end -->
						</div>
						<!-- mailchimp-alerts end -->

					</div>

					<!--=======  End of single widget  =======-->
				</div>
			</div>
		</div>
	</div>

	<!--=====  End of footer area  ======-->

	<!--=============================================
	=            overlay items         =
	=============================================-->

	<!--=======  about overlay  =======-->

	<div class="header-offcanvas about-overlay" id="about-overlay">
		<div class="overlay-close inactive"></div>
		<div class="overlay-content">

			<!--=======  close icon  =======-->

			<span class="close-icon" id="about-close-icon"> <a
				href="javascript:void(0)"> <i class="ti-close"></i>
			</a>
			</span>

			<!--=======  End of close icon  =======-->

			<!--=======  overlay content container  =======-->

			<div
				class="overlay-content-container d-flex flex-column justify-content-between h-100">
				<!--=======  widget wrapper  =======-->

				<div class="widget-wrapper">
					<!--=======  single widget  =======-->

					<div class="single-widget">
						<h2 class="widget-title">About Us</h2>
						<p>At Lezada, we put a strong emphasis on simplicity, quality
							and usefulness of fashion products over other factors. Our
							fashion items never get outdated. They are not short-lived as
							normal fashion clothes.</p>
					</div>

					<!--=======  End of single widget  =======-->
				</div>

				<!--=======  End of widget wrapper  =======-->

				<!--=======  contact widget  =======-->

				<div class="contact-widget">
					<p class="email">
						<a href="mailto:contact@lezada.com">contact@lezada.com</a>
					</p>
					<p class="phone">(+00) 123 567990</p>

					<div class="social-icons">
						<ul>
							<li><a href="//www.twitter.com" data-tippy="Twitter"
								data-tippy-inertia="true" data-tippy-animation="shift-away"
								data-tippy-delay="50" data-tippy-arrow="true"
								data-tippy-theme="sharpborder" target="_blank"><i
									class="fa fa-twitter"></i></a></li>
							<li><a href="//www.facebook.com" data-tippy="Facebook"
								data-tippy-inertia="true" data-tippy-animation="shift-away"
								data-tippy-delay="50" data-tippy-arrow="true"
								data-tippy-theme="sharpborder" target="_blank"><i
									class="fa fa-facebook"></i></a></li>
							<li><a href="//www.instagram.com" data-tippy="Instagram"
								data-tippy-inertia="true" data-tippy-animation="shift-away"
								data-tippy-delay="50" data-tippy-arrow="true"
								data-tippy-theme="sharpborder" target="_blank"><i
									class="fa fa-instagram"></i></a></li>
							<li><a href="//www.youtube.com" data-tippy="Youtube"
								data-tippy-inertia="true" data-tippy-animation="shift-away"
								data-tippy-delay="50" data-tippy-arrow="true"
								data-tippy-theme="sharpborder" target="_blank"><i
									class="fa fa-youtube-play"></i></a></li>
						</ul>
					</div>
				</div>

				<!--=======  End of contact widget  =======-->
			</div>

			<!--=======  End of overlay content container  =======-->
		</div>
	</div>

	<!--=======  End of about overlay  =======-->

	<!--=======  wishlist overlay  =======-->

	<div class="wishlist-overlay" id="wishlist-overlay">
		<div class="wishlist-overlay-close inactive"></div>
		<div class="wishlist-overlay-content">
			<!--=======  close icon  =======-->

			<span class="close-icon" id="wishlist-close-icon"> <a
				href="javascript:void(0)"> <i class="ion-android-close"></i>
			</a>
			</span>

			<!--=======  End of close icon  =======-->

			<!--=======  offcanvas wishlist content container  =======-->

			<div class="offcanvas-cart-content-container">
				<h3 class="cart-title">Wishlist</h3>

				<div class="cart-product-wrapper">
					<div class="cart-product-container  ps-scroll">
						<!--=======  single cart product  =======-->

						<div class="single-cart-product">
							<span class="cart-close-icon"> <a href="#"><i
									class="ti-close"></i></a>
							</span>
							<div class="image">
								<a href="shop-product-basic.html"
									th:href="@{/shop/product-basic}"> <img
									src="assets/images/cart-product-image/01.jpg" class="img-fluid"
									alt="" th:src="@{/assets/images/cart-product-image/01.jpg}">
								</a>
							</div>
							<div class="content">
								<h5>
									<a href="shop-product-basic.html"
										th:href="@{/shop/product-basic}">Dark Brown Leather Watch</a>
								</h5>
								<p>
									<span class="main-price discounted">$200.00</span> <span
										class="discounted-price">$180.00</span>
								</p>

							</div>
						</div>

						<!--=======  End of single cart product  =======-->
						<!--=======  single cart product  =======-->

						<div class="single-cart-product">
							<span class="cart-close-icon"> <a href="#"><i
									class="ti-close"></i></a>
							</span>
							<div class="image">
								<a href="shop-product-basic.html"
									th:href="@{/shop/product-basic}"> <img
									src="assets/images/cart-product-image/02.jpg" class="img-fluid"
									alt="" th:src="@{/assets/images/cart-product-image/02.jpg}">
								</a>
							</div>
							<div class="content">
								<h5>
									<a href="shop-product-basic.html"
										th:href="@{/shop/product-basic}">Dining Chair</a>
								</h5>
								<p>
									<span class="main-price discounted">$300.00</span> <span
										class="discounted-price">$220.00</span>
								</p>

							</div>
						</div>

						<!--=======  End of single cart product  =======-->
						<!--=======  single cart product  =======-->

						<div class="single-cart-product">
							<span class="cart-close-icon"> <a href="#"><i
									class="ti-close"></i></a>
							</span>
							<div class="image">
								<a href="shop-product-basic.html"
									th:href="@{/shop/product-basic}"> <img
									src="assets/images/cart-product-image/03.jpg" class="img-fluid"
									alt="" th:src="@{/assets/images/cart-product-image/03.jpg}">
								</a>
							</div>
							<div class="content">
								<h5>
									<a href="shop-product-basic.html"
										th:href="@{/shop/product-basic}">Creative Wooden Stand</a>
								</h5>
								<p>
									<span class="main-price discounted">$100.00</span> <span
										class="discounted-price">$80.00</span>
								</p>

							</div>
						</div>

						<!--=======  End of single cart product  =======-->
						<!--=======  single cart product  =======-->

						<div class="single-cart-product">
							<span class="cart-close-icon"> <a href="#"><i
									class="ti-close"></i></a>
							</span>
							<div class="image">
								<a href="shop-product-basic.html"
									th:href="@{/shop/product-basic}"> <img
									src="assets/images/cart-product-image/01.jpg" class="img-fluid"
									alt="" th:src="@{/assets/images/cart-product-image/01.jpg}">
								</a>
							</div>
							<div class="content">
								<h5>
									<a href="shop-product-basic.html"
										th:href="@{/shop/product-basic}">Dark Brown Leather Watch</a>
								</h5>
								<p>
									<span class="main-price discounted">$200.00</span> <span
										class="discounted-price">$180.00</span>
								</p>

							</div>
						</div>

						<!--=======  End of single cart product  =======-->
						<!--=======  single cart product  =======-->

						<div class="single-cart-product">
							<span class="cart-close-icon"> <a href="#"><i
									class="ti-close"></i></a>
							</span>
							<div class="image">
								<a href="shop-product-basic.html"
									th:href="@{/shop/product-basic}"> <img
									src="assets/images/cart-product-image/02.jpg" class="img-fluid"
									alt="" th:src="@{/assets/images/cart-product-image/02.jpg}">
								</a>
							</div>
							<div class="content">
								<h5>
									<a href="shop-product-basic.html"
										th:href="@{/shop/product-basic}">Creative Wooden Stand</a>
								</h5>
								<p>
									<span class="main-price discounted">$200.00</span> <span
										class="discounted-price">$180.00</span>
								</p>

							</div>
						</div>

						<!--=======  End of single cart product  =======-->
					</div>

					<!--=======  cart buttons  =======-->

					<div class="cart-buttons">
						<a href="shop-wishlist.html" th:href="@{/shop/wishlist}">view
							wishlist</a>
					</div>

					<!--=======  End of cart buttons  =======-->
				</div>
			</div>

			<!--=======  End of offcanvas wishlist content container   =======-->
		</div>
	</div>

	<!--=======  End of wishlist overlay  =======-->

	<div class="cart-overlay" id="cart-overlay">
		<div class="cart-overlay-close inactive"></div>
		<div class="cart-overlay-content">
			<span class="close-icon" id="cart-close-icon"><a
				href="javascript:void(0)"><i class="ion-android-close"></i></a></span>
			<div class="offcanvas-cart-content-container">
				<h3 class="cart-title">Cart</h3>
				<div class="cart-product-wrapper">
					<div class="cart-product-container  ps-scroll">
						<div class="single-cart-product">
							<span class="cart-close-icon"><a href="#"><i
									class="ti-close"></i></a></span>
							<div class="image">
								<a th:href="@{/shop/product-basic}"><img
									th:src="@{/assets/images/cart-product-image/01.jpg}"
									class="img-fluid" alt=""></a>
							</div>
							<div class="content">
								<h5>
									<a th:href="@{/shop/product-basic}">Dark Brown Leather
										Watch</a>
								</h5>
								<p>
									<span class="cart-count">2 x </span> <span
										class="discounted-price">$180.00</span>
								</p>
							</div>
						</div>

						<div class="single-cart-product">
							<span class="cart-close-icon"><a href="#"><i
									class="ti-close"></i></a></span>
							<div class="image">
								<a th:href="@{/shop/product-basic}"><img
									th:src="@{/assets/images/cart-product-image/02.jpg}"
									class="img-fluid" alt=""></a>
							</div>
							<div class="content">
								<h5>
									<a th:href="@{/shop/product-basic}">Dining Chair</a>
								</h5>
								<p>
									<span class="cart-count">2 x </span> <span
										class="discounted-price">$220.00</span>
								</p>
							</div>
						</div>

						<div class="single-cart-product">
							<span class="cart-close-icon"><a href="#"><i
									class="ti-close"></i></a></span>
							<div class="image">
								<a th:href="@{/shop/product-basic}"><img
									th:src="@{/assets/images/cart-product-image/03.jpg}"
									class="img-fluid" alt=""></a>
							</div>
							<div class="content">
								<h5>
									<a th:href="@{/shop/product-basic}">Creative Wooden Stand</a>
								</h5>
								<p>
									<span class="cart-count">2 x </span> <span
										class="discounted-price">$80.00</span>
								</p>
							</div>
						</div>

						<div class="single-cart-product">
							<span class="cart-close-icon"><a href="#"><i
									class="ti-close"></i></a></span>
							<div class="image">
								<a th:href="@{/shop/product-basic}"><img
									th:src="@{/assets/images/cart-product-image/01.jpg}"
									class="img-fluid" alt=""></a>
							</div>
							<div class="content">
								<h5>
									<a th:href="@{/shop/product-basic}">Dark Brown Leather
										Watch</a>
								</h5>
								<p>
									<span class="cart-count">2 x </span> <span
										class="discounted-price">$180.00</span>
								</p>
							</div>
						</div>

						<div class="single-cart-product">
							<span class="cart-close-icon"><a href="#"><i
									class="ti-close"></i></a></span>
							<div class="image">
								<a th:href="@{/shop/product-basic}"><img
									th:src="@{/assets/images/cart-product-image/02.jpg}"
									class="img-fluid" alt=""></a>
							</div>
							<div class="content">
								<h5>
									<a th:href="@{/shop/product-basic}">Creative Wooden Stand</a>
								</h5>
								<p>
									<span class="cart-count">2 x </span> <span
										class="discounted-price">$180.00</span>
								</p>
							</div>
						</div>
					</div>

					<p class="cart-subtotal">
						<span class="subtotal-title">Subtotal:</span> <span
							class="subtotal-amount">$200.00</span>
					</p>

					<div class="cart-buttons">
						<a th:href="@{/shop/cart}">view cart</a> <a
							th:href="@{/shop/checkout}">checkout</a>
					</div>

					<p class="free-shipping-text">Free Shipping on All Orders Over
						$100!</p>
				</div>
			</div>
		</div>
	</div>

	<!-- Search overlay -->
	<div class="search-overlay" id="search-overlay">
		<span class="close-icon search-close-icon"><a
			href="javascript:void(0)" id="search-close-icon"><i
				class="ti-close"></i></a></span>
		<div class="search-overlay-content">
			<div class="input-box">
				<form th:action="@{/}">
					<input type="search" placeholder="Search Products...">
				</form>
			</div>
			<div class="search-hint">
				<span># Hit enter to search or ESC to close</span>
			</div>
		</div>
	</div>

	<!--=======  End of search overlay  =======-->

	<!--=====  End of overlay items  ======-->

	<!-- scroll to top  -->
	<a href="#" class="scroll-top"></a>
	<!-- end of scroll to top -->

	<!-- JS
	============================================ -->
	<!-- jQuery JS -->
	<script src="assets/js/vendor/jquery.min.js"
		th:src="@{/assets/js/vendor/jquery.min.js}"></script>

	<!-- Popper JS -->
	<script src="assets/js/popper.min.js"
		th:src="@{/assets/js/popper.min.js}"></script>

	<!-- Bootstrap JS -->
	<script src="assets/js/bootstrap.min.js"
		th:src="@{/assets/js/bootstrap.min.js}"></script>

	<!-- Plugins JS -->
	<script src="assets/js/plugins.js" th:src="@{/assets/js/plugins.js}"></script>

	<!-- Main JS -->
	<script src="assets/js/main.js" th:src="@{/assets/js/main.js}"></script>

</body>

</html>
