<!DOCTYPE html>
<html class="no-js" lang="zh-Hant-TW"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>BabyMate商城</title>
<meta name="description"
	content="BabyMate 媽媽與家庭的一站式平台：就近尋找診所、安心醫療資訊、孕婦與嬰幼兒專賣商城、交流討論區與數位健康手冊，從孕期到育兒更輕鬆。">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script>
	document.documentElement.classList.remove('no-js')
</script>

<!-- Favicon -->
<link rel="icon" th:href="@{/assets/images/mother_baby_icon.ico}">

<!-- CSS ========================================= -->
<link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/assets/css/font-awesome.min.css}">
<link rel="stylesheet" th:href="@{/assets/css/ionicons.min.css}">
<link rel="stylesheet" th:href="@{/assets/css/themify-icons.css}">
<link rel="stylesheet" th:href="@{/assets/css/plugins.css}">
<link rel="stylesheet" th:href="@{/assets/css/helper.css}">
<link rel="stylesheet" th:href="@{/assets/css/main.css}">

<!-- Modernizer JS -->
<script th:src="@{/assets/js/vendor/modernizr-2.8.3.min.js}"></script>
</head>

<body>
	<!-- Header -->
	<header class="header header-offcanvas-about header-sticky">
		<div class="header-bottom pt-md-40 pb-md-40 pt-sm-40 pb-sm-40">
			<div class="container wide">
				<div class="header-bottom-container">
					<!-- logo & offcanvas -->
					<div class="logo-with-offcanvas d-flex">
						<div class="offcanvas-about-icon mr-20 d-none d-lg-block">
							<a href="javascript:void(0)" id="offcanvas-about-icon"
								role="button" aria-controls="about-overlay"
								aria-expanded="false" aria-label="開啟關於我們"> <i
								class="ion-navicon" aria-hidden="true"></i>
							</a>
						</div>
						<div class="logo">
							<a th:href="@{/}">
								<img th:src="@{/assets/images/babymate.png}" class="img-fluid" alt="BabyMate 首頁">
							</a>
						</div>
					</div>

					<!-- nav -->
					<div class="header-bottom-navigation">
						<div class="site-main-nav d-none d-lg-block">
							<nav class="site-nav center-menu">
								<ul>
									<li class="menu-item-has-children"><a href="/shop/left"
										th:href="@{/shop/left}">商城</a>
										<ul class="sub-menu single-column-menu">
											<li><a href="/shop/left" th:href="@{/shop/left}">查看所有商品</a></li>
										</ul></li>
									<li class="menu-item-has-children"><a
										href="javascript:void(0)">尋找診所</a>
										<ul class="sub-menu single-column-menu">
											<li><a href="/element/google-maps"
												th:href="@{/element/google-maps}">診所地圖</a></li>
										</ul></li>
									<li class="menu-item-has-children"><a
										href="javascript:void(0)">會員中心</a>
										<ul class="sub-menu single-column-menu">
											<li><a href="/blog/full-grid-left"
												th:href="@{/blog/full-grid-left}">會員儀表板</a></li>
											<li><a href="/my-account" th:href="@{/my-account}">我的訂單</a></li>
											<li><a href="/faq" th:href="@{/faq}">F.A.Q</a></li>
										</ul></li>
									<li class="menu-item-has-children "><a
										href="javascript:void(0)">討論區</a>
										<ul class="sub-menu single-column-menu">
											<li><a href="/blog/standard-left"
												th:href="@{/blog/standard-left}">看板貼文</a></li>
										</ul></li>
								</ul>
							</nav>
						</div>
					</div>

					<!-- right icons -->
					<div class="header-right-container">
						<div
							class="header-right-icons d-flex justify-content-end align-items-center h-100">
							<div class="single-icon search">
								<a href="javascript:void(0)" id="search-icon"><i
									class="ion-ios-search-strong"></i></a>
							</div>
							<div class="single-icon user-login">
								<a href="/shop/login" th:href="@{/shop/login}"><i
									class="ion-android-person"></i></a>
							</div>
							<div class="single-icon wishlist">
								<a href="javascript:void(0)" id="offcanvas-wishlist-icon"> <i
									class="ion-android-favorite-outline"></i><span class="count">2</span>
								</a>
							</div>
							<div class="single-icon cart">
								<a href="javascript:void(0)" id="offcanvas-cart-icon"> <i
									class="ion-ios-cart"></i><span class="count">3</span>
								</a>
							</div>
						</div>
					</div>
				</div>

				<!-- Mobile Navigation -->
				<div class="site-mobile-navigation d-block d-lg-none">
					<div id="dl-menu" class="dl-menuwrapper site-mobile-nav">
						<!--Site Mobile Menu Toggle Start-->
						<button class="dl-trigger hamburger hamburger--spin">
							<span class="hamburger-box"> <span class="hamburger-inner"></span>
							</span>
						</button>
						<!--Site Mobile Menu Toggle End-->
						<ul class="dl-menu dl-menu-toggle">
							<li><a href="#">商城</a>
								<ul class="dl-submenu">
									<li class=""><a href="/shop/left" th:href="@{/shop/left}">查看所有商品</a></li>
								</ul></li>
							<li><a href="#">尋找診所</a>
								<ul class="dl-submenu">
									<li><a href="/element/google-maps"
										th:href="@{/element/google-maps}">診所地圖</a></li>
								</ul></li>
							<li><a href="#">會員中心</a>
								<ul class="dl-submenu">
									<li><a href="/blog/full-grid-left"
										th:href="@{/blog/full-grid-left}">會員儀表板</a></li>
									<li><a href="my-account.html" th:href="@{/my-account}">我的訂單</a></li>
									<li><a href="faq.html" th:href="@{/faq}">F.A.Q</a></li>
								</ul></li>
							<li><a href="#">討論區</a>
								<ul class="dl-submenu">
									<li><a href="/blog/standard-left"
										th:href="@{/blog/standard-left}">看板貼文</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
				<!-- /Mobile Navigation -->
			</div>
		</div>
	</header>
	<!-- /Header -->

	<!-- breadcrumb -->
	<div class="breadcrumb-area breadcrumb-bg-2 pt-50 pb-70">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h1 class="breadcrumb-title">BabyMate商城</h1>
					<ul class="breadcrumb-list">
						<li class="breadcrumb-list__item"><a
							th:href="@{/shop/left}">首頁</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<!-- shop page wrapper -->
	<div class="shop-page-wrapper">
		<!-- header -->
		<div class="shop-page-header">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-12 col-lg-7 col-md-10 d-none d-md-block">
						<div class="filter-title filter-title--type-two">
							<ul class="product-filter-menu">
								<!-- <li data-filter=".hot">熱銷商品</li> -->
								<!-- <li data-filter=".new">新上架商品</li> -->
								<!-- <li data-filter=".sale">限時特價</li> -->
								<li>
									<a th:href="@{/shop/left}">綜合排名</a>
								</li>
								<li th:classappend="${sort} == 'newProduct' ? '' ">
									<a th:href="@{/shop/left(sort='newProduct')}">最新</a>
								</li>
								<li th:classappend="${sort} == 'priceAsc' ? '' ">
									<a th:href="@{/shop/left(sort='priceAsc')}">價格: 由低到高</a>
								</li>
								<li th:classappend="${sort} == 'priceDesc' ? '' ">
									<a th:href="@{/shop/left(sort='priceDesc')}">價格: 由高到低</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-12 col-lg-5 col-md-2">
						<div class="filter-icons">
							<!-- <div class="single-icon filter-dropdown">
								<select class="nice-select" aria-label="排序">
									<option value="0">綜合排名</option>
									<option value="1">最新</option>
									<option value="2">熱銷推薦</option>
									<option value="3">價格: 由低到高</option>
									<option value="4">價格: 由低到高</option>
								</select>
							</div> -->
							<div class="single-icon grid-icons" aria-label="版型切換">
								<a data-target="five-column" href="javascript:void(0)"><i
									class="ti-layout-grid4-alt" aria-hidden="true"></i></a> <a
									data-target="four-column" class="active"
									href="javascript:void(0)"><i class="ti-layout-grid3-alt"
									aria-hidden="true"></i></a> <a data-target="three-column"
									href="javascript:void(0)"><i class="ti-layout-grid2-alt"
									aria-hidden="true"></i></a> <a data-target="list"
									href="javascript:void(0)"><i class="ti-view-list"
									aria-hidden="true"></i></a>
							</div>
							<!-- <div class="single-icon advance-filter-icon">
								<a href="javascript:void(0)" id="advance-filter-active-btn"><i
									class="ion-android-funnel" aria-hidden="true"></i> 篩選</a>
							</div> -->
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- advance filter -->
		<!-- <div class="shop-advance-filter-area" id="shop-advance-filter-area">
			<div class="shop-advance-filter-wrapper pt-50">
				<div class="container">
					<div class="row">
						<div class="col-lg-2 col-md-4 col-sm-6 mb-50">
							<div class="single-filter-widget">
								<h2 class="single-filter-widget--title">排序方式</h2>
								<ul class="single-filter-widget--list">
									<li><a href="#">預設</a></li>
									<li><a href="#">人氣</a></li>
									<li><a href="#">平均評分</a></li>
									<li><a href="#">最新</a></li>
									<li><a href="#">價格：從低到高</a></li>
									<li><a href="#">價格：從高到低</a></li>
								</ul>
							</div>
						</div>

						<div class="col-lg-2 col-md-4 col-sm-6 mb-50">
							<div class="single-filter-widget">
								<h2 class="single-filter-widget--title">類別</h2>
								<ul
									class="single-filter-widget--list single-filter-widget--list--category">
									<li class="has-children"><a
										th:href="@{/shop/left}">奶粉類</a> <span class="quantity">5</span>
										<ul>
											<li><a th:href="@{/shop/left-sidebar}">For body</a></li>
											<li><a th:href="@{/shop/left-sidebar}">Make up</a></li>
											<li><a th:href="@{/shop/left-sidebar}">New</a></li>
											<li><a th:href="@{/shop/left-sidebar}">Perfumes</a></li>
										</ul></li>
									<li class="has-children"><a
										th:href="@{/shop/left-sidebar}">母嬰日用品類</a> <span
										class="quantity">23</span>
										<ul>
											<li><a th:href="@{/shop/left-sidebar}">Sofas</a></li>
											<li><a th:href="@{/shop/left-sidebar}">Armchairs</a></li>
											<li><a th:href="@{/shop/left-sidebar}">Desk Chairs</a></li>
											<li><a th:href="@{/shop/left-sidebar}">Dining Chairs</a></li>
										</ul></li>
									<li><a th:href="@{/shop/left-sidebar}">桌椅類</a> <span
										class="quantity">12</span></li>
								</ul>
							</div>
						</div>

						<div class="col-lg-2 col-md-4 col-sm-6 mb-50">
							<div class="single-filter-widget">
								<h2 class="single-filter-widget--title">Price filter</h2>
								<ul class="single-filter-widget--list">
									<li><a href="#">All</a></li>
									<li><a href="#">NT$0 - NT$700</a></li>
									<li><a href="#">NT$700 - NT$1,400</a></li>
									<li><a href="#">NT$1,400 - NT$2,100</a></li>
									<li><a href="#">NT$2,100 - NT$2,800</a></li>
									<li><a href="#">NT$2,800 - NT$3,500</a></li>
								</ul>
							</div>
						</div>

						<div class="col-lg-2 col-md-4 col-sm-6 mb-50">
							<div class="single-filter-widget">
								<h2 class="single-filter-widget--title">Brands</h2>
								<ul
									class="single-filter-widget--list single-filter-widget--list--brand">
									<li><a href="#">Alliop</a> <span class="quantity">(12)</span></li>
									<li><a href="#">Burberry</a> <span class="quantity">(15)</span></li>
									<li><a href="#">Catmen</a> <span class="quantity">(13)</span></li>
									<li><a href="#">Houdini</a> <span class="quantity">(10)</span></li>
									<li><a href="#">Love</a> <span class="quantity">(70)</span></li>
									<li><a href="#">Made</a> <span class="quantity">(15)</span></li>
								</ul>
							</div>
						</div>

					</div> -->
					<!-- /row -->
				<!-- </div>
			</div>
		</div> -->
		<!-- /advance filter -->

		<!-- content -->
		<div class="shop-page-content mt-100 mb-100">
			<div class="container">
				<div class="row">
					<!-- sidebar -->
					<div class="col-lg-3 order-2 order-lg-1">
						<div class="page-sidebar">
							<!-- <div class="single-sidebar-widget mb-40">
								<div class="search-widget">
									<form action="#" role="search" aria-label="站內商品搜尋">
										<input type="search" placeholder="請輸入商品..." aria-label="搜尋關鍵字">
										<button type="button" aria-label="搜尋">
											<i class="ion-android-search" aria-hidden="true"></i>
										</button>
									</form>
								</div>
							</div> -->

							<div class="single-sidebar-widget mb-40">
								<h2 class="single-sidebar-widget--title">全站商品分類</h2>
								<ul class="single-sidebar-widget--list single-sidebar-widget--list--category">
									<!-- 全部 -->
									<li>
										<a th:href="@{/shop/left(minPrice=${minPrice}, max=${maxPrice})}" th:classappend="${selectedCategoryId} == null ? 'active' : ''">全部</a>
										<span class="quantity" th:text="${allCount}"></span>
									</li>
									<!-- 其餘分類 -->
									<li th:each="c : ${categories}">
										<a th:href="@{/shop/left(
												categoryId=${c.categoryId},
												minPrice=${minPrice},
												maxPrice=${maxPrice})}"
											th:text="${c.categoryName}"
											th:classappend="${selectedCategoryId} == ${c.categoryId} ? 'active' : ''">
										</a>
										<span class="quantity" th:text="${c.count}"></span>
									</li>
								</ul>
							</div>

							<div class="single-sidebar-widget mb-40">
								<h2 class="single-sidebar-widget--title">價格範圍搜尋</h2>
									<form th:action="@{/shop/left}" method="get" class="output-wrapper mt-20">
									    <!-- 保留目前分類 -->
									    <input type="hidden" name="categoryId" th:value="${selectedCategoryId}">
									    <!-- 最低 / 最高價 -->
							            <div>
							            	<input type="number" name="minPrice" placeholder="最低價格" th:value="${minPrice}" style="width: 100px;" />
							            	<span>－</span>
							  	        	<input type="number" name="maxPrice" placeholder="最高價格" th:value="${maxPrice}" style="width: 100px;"/>
							  	        </div>
									    <button type="submit" class="price-range-button">
									    	<i class="ion-android-funnel" aria-hidden="true"></i> 篩選
									    </button>
								    </form>
							</div>
								
								
								<!-- <ul
									class="single-sidebar-widget--list single-sidebar-widget--list--category">
									<li><a
										th:href="@{/shop/left-sidebar}">奶粉類</a> <span class="quantity">5</span> -->
										<!-- <ul>
											<li><a th:href="@{/shop/left-sidebar}">For body</a></li>
											<li><a th:href="@{/shop/left-sidebar}">Make up</a></li>
											<li><a th:href="@{/shop/left-sidebar}">New</a></li>
											<li><a th:href="@{/shop/left-sidebar}">Perfumes</a></li>
										</ul> </li>-->
									<!-- <li><a
										th:href="@{/shop/left-sidebar}">母嬰日用品類</a> <span
										class="quantity">23</span> -->
										<!-- <ul>
											<li><a th:href="@{/shop/left-sidebar}">Sofas</a></li>
											<li><a th:href="@{/shop/left-sidebar}">Armchairs</a></li>
											<li><a th:href="@{/shop/left-sidebar}">Desk Chairs</a></li>
											<li><a th:href="@{/shop/left-sidebar}">Dining Chairs</a></li>
										</ul> </li>-->
									<!-- <li><a th:href="@{/shop/left-sidebar}">桌椅類</a> <span
										class="quantity">12</span></li>
								</ul>
							</div>

							<div class="single-sidebar-widget mb-40">
								<h2 class="single-sidebar-widget--title">價格範圍搜尋</h2>
								<div class="sidebar-price">
									<div id="price-range"></div>
									<div class="output-wrapper mt-20">
										<input type="text" id="price-amount" class="price-amount"
											readonly> <a class="price-range-button" href="#"><i
											class="ion-android-funnel" aria-hidden="true"></i> 篩選</a>
									</div>
								</div>
							</div> -->

							<!-- 熱門商品 -->
							<div class="single-sidebar-widget mb-40">
								<!-- <h2 class="single-sidebar-widget--title">熱門商品</h2> -->
								<div class="widget-product-wrapper">

									<!-- 熱銷  -->
									<!-- <div class="single-widget-product-wrapper">
										<th:block th:each="p : ${hotProducts}">
											<div class="single-widget-product">
												<div class="single-widget-product__image">
													<a th:href="@{/shop/product-basic(id=${p.productId})}">
														<img th:src="@{/product/DBGifReader} + '?productId=' + ${productVO.productId}"
															 class="img-fluid" alt="${p.prouctName}"
															 loading="lazy" decoding="async">
													</a>
												</div>
												<div class="single-widget-product__content">
													<div class="single-widget-product__content__top">
														<h3 class="product-title">
															<a th:href="@{/shop/product-basic(id=${p.productId})}">商品名稱</a>
														</h3>
														<div class="price">
															<span class="main-price" th:text="'NT$' + {p.price}">NT$0</span>
														</div>
														<div class="rating" aria-label="評分 4/5">
															<i class="ion-android-star" aria-hidden="true"></i> <i
																class="ion-android-star" aria-hidden="true"></i> <i
																class="ion-android-star" aria-hidden="true"></i> <i
																class="ion-android-star" aria-hidden="true"></i> <i
																class="ion-android-star-outline" aria-hidden="true"></i>
														</div>
													</div>
												</div>
											</div>
										</th:block>
									</div> -->

									<!-- 熱銷 1 -->
									<!-- <div class="single-widget-product-wrapper">
										<div class="single-widget-product">
											<div class="single-widget-product__image">
												<a th:href="@{/shop/product-basic}"> <img
													th:src="@{/assets/images/products/test17.jpg}"
													class="img-fluid" alt="愛他美 Profutura 2號 800g"
													loading="lazy" decoding="async">
												</a>
											</div>
											<div class="single-widget-product__content">
												<div class="single-widget-product__content__top">
													<h3 class="product-title">
														<a th:href="@{/shop/product-basic}">愛他美 Profutura 2號
															800g</a>
													</h3>
													<div class="price">
														<span class="main-price">NT$820</span>
													</div>
													<div class="rating" aria-label="評分 4/5">
														<i class="ion-android-star" aria-hidden="true"></i> <i
															class="ion-android-star" aria-hidden="true"></i> <i
															class="ion-android-star" aria-hidden="true"></i> <i
															class="ion-android-star" aria-hidden="true"></i> <i
															class="ion-android-star-outline" aria-hidden="true"></i>
													</div>
												</div>
											</div>
										</div>
									</div> -->

									<!-- 熱銷 2 -->
									<!-- <div class="single-widget-product-wrapper">
										<div class="single-widget-product">
											<div class="single-widget-product__image">
												<a th:href="@{/shop/product-basic}"> <img
													th:src="@{/assets/images/products/test10.jpg}"
													class="img-fluid" alt="嬰兒短袖包屁衣" loading="lazy"
													decoding="async">
												</a>
											</div>
											<div class="single-widget-product__content">
												<div class="single-widget-product__content__top">
													<h3 class="product-title">
														<a th:href="@{/shop/product-basic}">嬰兒短袖包屁衣</a>
													</h3>
													<div class="price">
														<span class="main-price">NT$199</span>
													</div>
													<div class="rating" aria-label="評分 5/5">
														<i class="ion-android-star" aria-hidden="true"></i> <i
															class="ion-android-star" aria-hidden="true"></i> <i
															class="ion-android-star" aria-hidden="true"></i> <i
															class="ion-android-star" aria-hidden="true"></i> <i
															class="ion-android-star" aria-hidden="true"></i>
													</div>
												</div>
											</div>
										</div>
									</div> -->

									<!-- 熱銷 3 -->
									<!-- <div class="single-widget-product-wrapper">
										<div class="single-widget-product">
											<div class="single-widget-product__image">
												<a th:href="@{/shop/product-basic}"> <img
													th:src="@{/assets/images/products/test7.jpg}"
													class="img-fluid" alt="Pigeon 貝親安撫奶嘴 L號" loading="lazy"
													decoding="async">
												</a>
											</div>
											<div class="single-widget-product__content">
												<div class="single-widget-product__content__top">
													<h3 class="product-title">
														<a th:href="@{/shop/product-basic}">Pigeon 貝親安撫奶嘴 L號</a>
													</h3>
													<div class="price">
														<span class="main-price">NT$139</span>
													</div>
													<div class="rating" aria-label="評分 4/5">
														<i class="ion-android-star" aria-hidden="true"></i> <i
															class="ion-android-star" aria-hidden="true"></i> <i
															class="ion-android-star" aria-hidden="true"></i> <i
															class="ion-android-star" aria-hidden="true"></i> <i
															class="ion-android-star-outline" aria-hidden="true"></i>
													</div>
												</div>
											</div>
										</div>
									</div> -->

								</div>
								<!-- /widget-product-wrapper -->
							</div>
						</div>
					</div>

					<!-- products -->
					<div class="col-lg-9 order-1 order-lg-2 mb-md-80 mb-sm-80">
						<div class="row product-isotope shop-product-wrap four-column">

							<!-- 商品區 -->
							<th:block  th:each="p, stat : ${hotProducts}">
								<div class="col-12 col-lg-3 col-md-6 col-sm-6 mb-45 hot sale">
									<!-- Grid 版 -->
									<div class="single-product">
										<div class="single-product__image">
											<a class="image-wrap" th:href="@{/shop/product-basic(id=${p.productId})}">
												<img th:src="@{/product/DBGifReader(productId=${p.productId})}"
													 class="img-fluid" th:alt="${p.productName}" loading="lazy"
													 decoding="async">
											</a>
											<div class="single-product__floating-icons">
												<span class="wishlist">
													<a href="#" aria-label="加入收藏">
														<i class="ion-android-favorite-outline" aria-hidden="true"></i>
													</a>
												</span>
												<span class="compare">
													<a href="#" aria-label="加入比較">
														<i class="ion-ios-shuffle-strong" aria-hidden="true"></i>
													</a>
												</span>
												<span class="quickview">
													<a class="cd-trigger" th:href="'#qv-' + ${p.productId}" aria-label="快速瀏覽">
														<i class="ion-ios-search-strong" aria-hidden="true"></i>
													</a>
												</span>
											</div>
										</div>
										<div class="single-product__content">
											<div class="title">
												<h3>
													<a th:href="@{/shop/product-basic(id=${p.productId})}" th:text="${p.productName}">商品名稱</a>
												</h3>
											</div>
											<div class="price">
												<span class="main-price" th:text="'NT$' + ${p.price}">NT$99,999,999</span>
											</div>
										</div>
									</div>
									
									<!-- List 版 -->
									<div class="single-product--list">
										<div class="single-product__image">
											<a class="image-wrap" th:href="@{/shop/product-basic(id=${p.productId})}">
												<img th:src="@{/product/DBGifReader(productId=${p.productId})}"
													 class="img-fluid" th:alt="${p.productName}" loading="lazy"
													 decoding="async">
											</a>
											<div class="single-product__floating-icons">
												<span class="wishlist">
													<a href="#" aria-label="加入收藏">
														<i class="ion-android-favorite-outline" aria-hidden="true"></i>
													</a>
												</span>
												<span class="compare">
													<a href="#" aria-label="加入比較">
														<i class="ion-ios-shuffle-strong" aria-hidden="true"></i>
													</a>
												</span>
												<span class="quickview">
													<a class="cd-trigger" href="'#qv-' + ${p.productId}" aria-label="快速瀏覽">
														<i class="ion-ios-search-strong" aria-hidden="true"></i>
													</a>
												</span>
											</div>
										</div>
										<div class="single-product__content">
											<div class="title">
												<h3>
													<a th:href="@{/shop/product-basic(id=${p.productId})}" th:text="${p.productName}">商品名稱</a>
												</h3>
											</div>
											<div class="price">
												<span class="main-price" th:text="'NT$' + ${p.price}">NT$99,999,999</span>
											</div>
											<p class="short-desc" th:text="${p.featureDesc}">特色說明</p>
											<a href="#" class="lezada-button lezada-button--medium">加入購物車</a>
										</div>
									</div>
								</div>
								
								
								<!-- 點選商品搜尋icon 快速查看商品 -->
								<div th:id="'qv-' + ${p.productId}" class="cd-quick-view">
									<div class="cd-slider-wrapper">
										<ul class="cd-slider">
											<li class="selected"><img th:src="@{/product/DBGifReader(productId=${p.productId})}" alt="Product 2"></li>
											<li><img th:src="@{/product/DBGifReader(productId=${p.productId})}" alt="Product 1"></li>
										</ul> <!-- cd-slider -->
							
										<ul class="cd-slider-pagination">
											<li class="active"><a href="#0">1</a></li>
											<li><a href="#1">2</a></li>
										</ul> <!-- cd-slider-pagination -->
							
										<ul class="cd-slider-navigation">
											<li><a class="cd-prev" href="#0">Prev</a></li>
											<li><a class="cd-next" href="#0">Next</a></li>
										</ul> <!-- cd-slider-navigation -->
									</div> <!-- cd-slider-wrapper -->
							
									<div class="lezada-item-info cd-item-info ps-scroll">
							
										<h2 class="item-title" th:text="${p.productName}"></h2>
										<p class="price">
											<span class="discounted-price" th:text="'NT$' + ${p.price}"></span>
										</p>
							
										<p class="description" th:text="${p.featureDesc}"></p>
							
										<span class="quickview-title">數量：</span>
										<div class="pro-qty d-inline-block mb-40">
											<input type="text" value="1">
										</div>
							
										<div class="add-to-cart-btn mb-25">
							
											<button class="lezada-button lezada-button--medium">加入購物車</button>
										</div>
									</div> <!-- cd-item-info -->
									<a href="#0" class="cd-close">Close</a>
								</div>
								<!-- End 點選商品搜尋icon 快速查看商品 -->
								
							</th:block>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /content -->
	</div>
	<!-- /shop page wrapper -->

	

	<!-- footer -->
	<div class="footer-container footer-one pt-100 pb-50">
		<div class="container wide">
			<div class="row">
				<div class="col footer-single-widget">
					<div class="logo">
						<img th:src="@{/assets/images/babymate_logo.png}"
							class="img-fluid" alt="BabyMate">
					</div>
					<div class="copyright-text">
						<p>
							&copy; <span
								th:text="${#calendars.format(#dates.createNow(), 'yyyy')}">2025</span>
							BABYMATE. <span>All Rights Reserved</span>
						</p>
					</div>
				</div>

				<div class="col footer-single-widget">
					<h5 class="widget-title">ABOUT</h5>
					<div class="footer-nav-container">
						<nav>
							<ul>
								<li><a href="#">About us</a></li>
								<li><a href="#">Store location</a></li>
								<li><a href="#">Contact</a></li>
								<li><a href="#">Orders tracking</a></li>
							</ul>
						</nav>
					</div>
				</div>

				<div class="col footer-single-widget">
					<h5 class="widget-title">USEFUL LINKS</h5>
					<div class="footer-nav-container">
						<nav>
							<ul>
								<li><a href="#">Returns</a></li>
								<li><a href="#">Support Policy</a></li>
								<li><a href="#">Size guide</a></li>
								<li><a href="#">FAQs</a></li>
							</ul>
						</nav>
					</div>
				</div>

				<div class="col footer-single-widget">
					<h5 class="widget-title">FOLLOW US ON</h5>
					<div class="footer-nav-container footer-social-links">
						<nav>
							<ul>
								<li><a href="https://twitter.com" target="_blank"
									rel="noopener noreferrer"><i class="fa fa-twitter"
										aria-hidden="true"></i> Twitter</a></li>
								<li><a href="https://facebook.com" target="_blank"
									rel="noopener noreferrer"><i class="fa fa-facebook"
										aria-hidden="true"></i> Facebook</a></li>
								<li><a href="https://instagram.com" target="_blank"
									rel="noopener noreferrer"><i class="fa fa-instagram"
										aria-hidden="true"></i> Instagram</a></li>
								<li><a href="https://youtube.com" target="_blank"
									rel="noopener noreferrer"><i class="fa fa-youtube"
										aria-hidden="true"></i> Youtube</a></li>
							</ul>
						</nav>
					</div>
				</div>

				<div class="col footer-single-widget">
					<div class="footer-subscription-widget">
						<h2 class="footer-subscription-title">Subscribe.</h2>
						<p class="subscription-subtitle">Subscribe to our newsletter
							to receive news on update.</p>
						<div class="subscription-form">
							<form id="mc-form" class="mc-form">
								<input type="email" placeholder="Your email address" required
									aria-label="Email">
								<button type="submit" aria-label="訂閱">
									<i class="ion-ios-arrow-thin-right" aria-hidden="true"></i>
								</button>
							</form>
						</div>
						<div class="mailchimp-alerts">
							<div class="mailchimp-submitting"></div>
							<div class="mailchimp-success"></div>
							<div class="mailchimp-error"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /footer -->

	<!-- overlays -->
	<!-- 關於我們 -->
	<div class="header-offcanvas about-overlay" id="about-overlay"
		aria-hidden="true">
		<div class="overlay-close inactive"></div>
		<div class="overlay-content">
			<span class="close-icon" id="about-close-icon"> <a
				href="javascript:void(0)" aria-label="關閉關於我們"><i
					class="ti-close" aria-hidden="true"></i></a>
			</span>
			<div
				class="overlay-content-container d-flex flex-column justify-content-between h-100">
				<div class="widget-wrapper">
					<div class="single-widget">
						<h2 class="widget-title">關於我們</h2>
						<p>我們致力於打造一個貼近媽媽與家庭需求的數位平台，讓使用者可以方便地找到附近診所，獲取安心的醫療資訊。我們同時設計了孕婦與嬰幼兒專賣商城，提供多樣化的商品選擇，讓新手爸媽購物更加便利。平台內也設有交流討論區，讓新手媽媽可以彼此分享育兒心得，孕媽咪也能互相交流孕期經驗。此外，我們將寶寶健康手冊數位化，包含生長曲線圖與健康紀錄，並提供孕婦手冊功能，幫助準媽媽追蹤產檢與孕期健康狀況。我們希望透過這個平台，陪伴每一位媽媽從孕期到育兒的每一步，感受到支持與便利。</p>
					</div>
				</div>
				<br>
				<div class="contact-widget">
					<p class="email">
						<a href="mailto:babymate@babymate.com">babymate@babymate.com</a>
					</p>
					<p class="phone">0800 580 520</p>
					<div class="social-icons">
						<ul>
							<li><a href="https://www.twitter.com" target="_blank"
								rel="noopener noreferrer"><i class="fa fa-twitter"
									aria-hidden="true"></i><span class="sr-only">Twitter</span></a></li>
							<li><a href="https://www.facebook.com" target="_blank"
								rel="noopener noreferrer"><i class="fa fa-facebook"
									aria-hidden="true"></i><span class="sr-only">Facebook</span></a></li>
							<li><a href="https://www.instagram.com" target="_blank"
								rel="noopener noreferrer"><i class="fa fa-instagram"
									aria-hidden="true"></i><span class="sr-only">Instagram</span></a></li>
							<li><a href="https://www.youtube.com" target="_blank"
								rel="noopener noreferrer"><i class="fa fa-youtube-play"
									aria-hidden="true"></i><span class="sr-only">YouTube</span></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--=======  wishlist overlay  =======-->

	<div class="wishlist-overlay" id="wishlist-overlay">
		<div class="wishlist-overlay-close inactive"></div>
		<div class="wishlist-overlay-content">
			<!--=======  close icon  =======-->

			<span class="close-icon" id="wishlist-close-icon"> <a
				href="javascript:void(0)"> <i class="ion-android-close"></i>
			</a>
			</span>

			<!--=======  End of close icon  =======-->

			<!--=======  offcanvas wishlist content container  =======-->

			<div class="offcanvas-cart-content-container">
				<h3 class="cart-title">Wishlist</h3>

				<div class="cart-product-wrapper">
					<div class="cart-product-container  ps-scroll">
						<!--=======  single cart product  =======-->

						<div class="single-cart-product">
							<span class="cart-close-icon"> <a href="#"><i
									class="ti-close"></i></a>
							</span>
							<div class="image">
								<a href="shop-product-basic.html"
									th:href="@{/shop/product-basic}"> <img
									src="assets/images/cart-product-image/01.jpg" class="img-fluid"
									alt="" th:src="@{/assets/images/cart-product-image/01.jpg}">
								</a>
							</div>
							<div class="content">
								<h5>
									<a href="shop-product-basic.html"
										th:href="@{/shop/product-basic}">Dark Brown Leather Watch</a>
								</h5>
								<p>
									<span class="main-price discounted">$200.00</span> <span
										class="discounted-price">$180.00</span>
								</p>

							</div>
						</div>

						<!--=======  End of single cart product  =======-->
						<!--=======  single cart product  =======-->

						<div class="single-cart-product">
							<span class="cart-close-icon"> <a href="#"><i
									class="ti-close"></i></a>
							</span>
							<div class="image">
								<a href="shop-product-basic.html"
									th:href="@{/shop/product-basic}"> <img
									src="assets/images/cart-product-image/02.jpg" class="img-fluid"
									alt="" th:src="@{/assets/images/cart-product-image/02.jpg}">
								</a>
							</div>
							<div class="content">
								<h5>
									<a href="shop-product-basic.html"
										th:href="@{/shop/product-basic}">Dining Chair</a>
								</h5>
								<p>
									<span class="main-price discounted">$300.00</span> <span
										class="discounted-price">$220.00</span>
								</p>

							</div>
						</div>

						<!--=======  End of single cart product  =======-->
						<!--=======  single cart product  =======-->

						<div class="single-cart-product">
							<span class="cart-close-icon"> <a href="#"><i
									class="ti-close"></i></a>
							</span>
							<div class="image">
								<a href="shop-product-basic.html"
									th:href="@{/shop/product-basic}"> <img
									src="assets/images/cart-product-image/03.jpg" class="img-fluid"
									alt="" th:src="@{/assets/images/cart-product-image/03.jpg}">
								</a>
							</div>
							<div class="content">
								<h5>
									<a href="shop-product-basic.html"
										th:href="@{/shop/product-basic}">Creative Wooden Stand</a>
								</h5>
								<p>
									<span class="main-price discounted">$100.00</span> <span
										class="discounted-price">$80.00</span>
								</p>

							</div>
						</div>

						<!--=======  End of single cart product  =======-->
						<!--=======  single cart product  =======-->

						<div class="single-cart-product">
							<span class="cart-close-icon"> <a href="#"><i
									class="ti-close"></i></a>
							</span>
							<div class="image">
								<a href="shop-product-basic.html"
									th:href="@{/shop/product-basic}"> <img
									src="assets/images/cart-product-image/01.jpg" class="img-fluid"
									alt="" th:src="@{/assets/images/cart-product-image/01.jpg}">
								</a>
							</div>
							<div class="content">
								<h5>
									<a href="shop-product-basic.html"
										th:href="@{/shop/product-basic}">Dark Brown Leather Watch</a>
								</h5>
								<p>
									<span class="main-price discounted">$200.00</span> <span
										class="discounted-price">$180.00</span>
								</p>

							</div>
						</div>

						<!--=======  End of single cart product  =======-->
						<!--=======  single cart product  =======-->

						<div class="single-cart-product">
							<span class="cart-close-icon"> <a href="#"><i
									class="ti-close"></i></a>
							</span>
							<div class="image">
								<a href="shop-product-basic.html"
									th:href="@{/shop/product-basic}"> <img
									src="assets/images/cart-product-image/02.jpg" class="img-fluid"
									alt="" th:src="@{/assets/images/cart-product-image/02.jpg}">
								</a>
							</div>
							<div class="content">
								<h5>
									<a href="shop-product-basic.html"
										th:href="@{/shop/product-basic}">Creative Wooden Stand</a>
								</h5>
								<p>
									<span class="main-price discounted">$200.00</span> <span
										class="discounted-price">$180.00</span>
								</p>

							</div>
						</div>

						<!--=======  End of single cart product  =======-->
					</div>

					<!--=======  cart buttons  =======-->

					<div class="cart-buttons">
						<a href="shop-wishlist.html" th:href="@{/shop/wishlist}">view
							wishlist</a>
					</div>

					<!--=======  End of cart buttons  =======-->
				</div>
			</div>

			<!--=======  End of offcanvas wishlist content container   =======-->
		</div>
	</div>

	<!--=======  End of wishlist overlay  =======-->

	<div class="cart-overlay" id="cart-overlay">
		<div class="cart-overlay-close inactive"></div>
		<div class="cart-overlay-content">
			<span class="close-icon" id="cart-close-icon"><a
				href="javascript:void(0)"><i class="ion-android-close"></i></a></span>
			<div class="offcanvas-cart-content-container">
				<h3 class="cart-title">Cart</h3>
				<div class="cart-product-wrapper">
					<div class="cart-product-container  ps-scroll">
						<div class="single-cart-product">
							<span class="cart-close-icon"><a href="#"><i
									class="ti-close"></i></a></span>
							<div class="image">
								<a th:href="@{/shop/product-basic}"><img
									th:src="@{/assets/images/cart-product-image/01.jpg}"
									class="img-fluid" alt=""></a>
							</div>
							<div class="content">
								<h5>
									<a th:href="@{/shop/product-basic}">Dark Brown Leather
										Watch</a>
								</h5>
								<p>
									<span class="cart-count">2 x </span> <span
										class="discounted-price">$180.00</span>
								</p>
							</div>
						</div>

						<div class="single-cart-product">
							<span class="cart-close-icon"><a href="#"><i
									class="ti-close"></i></a></span>
							<div class="image">
								<a th:href="@{/shop/product-basic}"><img
									th:src="@{/assets/images/cart-product-image/02.jpg}"
									class="img-fluid" alt=""></a>
							</div>
							<div class="content">
								<h5>
									<a th:href="@{/shop/product-basic}">Dining Chair</a>
								</h5>
								<p>
									<span class="cart-count">2 x </span> <span
										class="discounted-price">$220.00</span>
								</p>
							</div>
						</div>

						<div class="single-cart-product">
							<span class="cart-close-icon"><a href="#"><i
									class="ti-close"></i></a></span>
							<div class="image">
								<a th:href="@{/shop/product-basic}"><img
									th:src="@{/assets/images/cart-product-image/03.jpg}"
									class="img-fluid" alt=""></a>
							</div>
							<div class="content">
								<h5>
									<a th:href="@{/shop/product-basic}">Creative Wooden Stand</a>
								</h5>
								<p>
									<span class="cart-count">2 x </span> <span
										class="discounted-price">$80.00</span>
								</p>
							</div>
						</div>

						<div class="single-cart-product">
							<span class="cart-close-icon"><a href="#"><i
									class="ti-close"></i></a></span>
							<div class="image">
								<a th:href="@{/shop/product-basic}"><img
									th:src="@{/assets/images/cart-product-image/01.jpg}"
									class="img-fluid" alt=""></a>
							</div>
							<div class="content">
								<h5>
									<a th:href="@{/shop/product-basic}">Dark Brown Leather
										Watch</a>
								</h5>
								<p>
									<span class="cart-count">2 x </span> <span
										class="discounted-price">$180.00</span>
								</p>
							</div>
						</div>

						<div class="single-cart-product">
							<span class="cart-close-icon"><a href="#"><i
									class="ti-close"></i></a></span>
							<div class="image">
								<a th:href="@{/shop/product-basic}"><img
									th:src="@{/assets/images/cart-product-image/02.jpg}"
									class="img-fluid" alt=""></a>
							</div>
							<div class="content">
								<h5>
									<a th:href="@{/shop/product-basic}">Creative Wooden Stand</a>
								</h5>
								<p>
									<span class="cart-count">2 x </span> <span
										class="discounted-price">$180.00</span>
								</p>
							</div>
						</div>
					</div>

					<p class="cart-subtotal">
						<span class="subtotal-title">Subtotal:</span> <span
							class="subtotal-amount">$200.00</span>
					</p>

					<div class="cart-buttons">
						<a th:href="@{/shop/cart}">view cart</a> <a
							th:href="@{/shop/checkout}">checkout</a>
					</div>

					<p class="free-shipping-text">Free Shipping on All Orders Over
						$100!</p>
				</div>
			</div>
		</div>
	</div>

	<!-- Search overlay -->
	<div class="search-overlay" id="search-overlay">
		<span class="close-icon search-close-icon"><a
			href="javascript:void(0)" id="search-close-icon"><i
				class="ti-close"></i></a></span>
		<div class="search-overlay-content">
			<div class="input-box">
				<form th:action="@{/}">
					<input type="search" placeholder="Search Products...">
				</form>
			</div>
			<div class="search-hint">
				<span># Hit enter to search or ESC to close</span>
			</div>
		</div>
	</div>

	<!-- scroll to top -->
	<a href="#" class="scroll-top"></a>

	<!-- JS（必要：讓互動元件運作） -->
	<script th:src="@{/assets/js/vendor/jquery.min.js}"></script>
	<script th:src="@{/assets/js/bootstrap.min.js}"></script>
	<script th:src="@{/assets/js/plugins.js}"></script>
	<script th:src="@{/assets/js/main.js}"></script>
</body>
</html>
