<!DOCTYPE html>
<html class="no-js" lang="zh-Hant" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{frontend/layout :: head('BabyMate', ~{::extraHead})}">
  <th:block th:fragment="extraHead"></th:block>
</head>

<body th:replace="~{frontend/layout :: layout('about', ~{::content}, ~{::extraJs}, 'footer-one')}">
<section th:fragment="content">
<div th:replace="~{frontend/fragments/breadcrumb :: breadcrumb('訂單資訊')}"></div>



	<!-- page wrapper -->
	<div class="checkout-page-area mb-130">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="lezada-form">
						<!-- Checkout Form s-->
						<form action="#" class="checkout-form">
							<div class="row row-40">
								<div class="col-lg-7 mb-20">
									<!-- Billing Address -->
									<div id="billing-form" class="mb-40">
										<h4 class="checkout-title">配送資訊</h4>
										<div class="row">
											<div class="col-md-6 col-12 mb-20">
												<label>姓名*</label> <input type="text" placeholder="全名">
											</div>

											<div class="col-md-6 col-12 mb-20">
												<label>電話號碼*</label> <input type="text" placeholder="電話號碼">
											</div>

											<div class="col-12 mb-20">
												<label>電子郵件*</label> <input type="email" placeholder="Email">
											</div>

										<div class="col-12 mb-20">
										    <label>地址*</label>
										    <div id="twzipcode" class="form-row mb-2"></div>
										    <input type="text" class="form-control" name="address" placeholder="請輸入巷、弄、號、樓等詳細地址">
										</div>
										</div>
									</div>

									<!-- Shipping Address -->
									<div id="shipping-form" class="mb-40">
										<h4 class="checkout-title">Shipping Address</h4>
										<div class="row">
											<div class="col-md-6 col-12 mb-20">
												<label>First Name*</label> <input type="text"
													placeholder="First Name">
											</div>
											<div class="col-md-6 col-12 mb-20">
												<label>Last Name*</label> <input type="text"
													placeholder="Last Name">
											</div>
											<div class="col-md-6 col-12 mb-20">
												<label>Email Address*</label> <input type="email"
													placeholder="Email Address">
											</div>
											<div class="col-md-6 col-12 mb-20">
												<label>Phone no*</label> <input type="text"
													placeholder="Phone number">
											</div>
											<div class="col-12 mb-20">
												<label>Company Name</label> <input type="text"
													placeholder="Company Name">
											</div>
											<div class="col-12 mb-20">
												<label>Address*</label> <input type="text"
													placeholder="Address line 1"> <input type="text"
													placeholder="Address line 2">
											</div>
											<div class="col-md-6 col-12 mb-20">
												<label>Country*</label> <select class="nice-select">
													<option>Bangladesh</option>
													<option>China</option>
													<option>country</option>
													<option>India</option>
													<option>Japan</option>
												</select>
											</div>
											<div class="col-md-6 col-12 mb-20">
												<label>Town/City*</label> <input type="text"
													placeholder="Town/City">
											</div>
											<div class="col-md-6 col-12 mb-20">
												<label>State*</label> <input type="text" placeholder="State">
											</div>
											<div class="col-md-6 col-12 mb-20">
												<label>Zip Code*</label> <input type="text"
													placeholder="Zip Code">
											</div>
										</div>
									</div>
								</div>

								<div class="col-lg-5">
									<div class="row">
										<!-- Cart Total -->
										<div class="col-12 mb-60">
											<h4 class="checkout-title">Cart Total</h4>
											<div class="checkout-cart-total">
												<h4>
													商品 <span>金額</span>
												</h4>
												<ul>
													<li>購物車內容1 X 02 <span>$180.00</span></li>
													<li>購物車內容2 X 02 <span>$220.00</span></li>
													<li>購物車內容3 X 02 <span>$80.00</span></li>
													<li>購物車內容4 X 02 <span>$180.00</span></li>
													<li>購物車內容5 X 02 <span>$180.00</span></li>
												</ul>
												<p>
													商品總金額 <span>$840.00</span>
												</p>
												<p>
													運費 <span>$00.00</span>
												</p>
												<h4>
													總付款金額 <span>$840.00</span>
												</h4>
											</div>
										</div>

										<!-- Payment Method -->
										<div class="col-12">
											<h4 class="checkout-title">付款方式</h4>
											<div class="checkout-payment-method">
												<!-- <div class="single-method">
													<input type="radio" id="payment_check"
														name="payment-method" value="check"> <label
														for="payment_check">Check Payment</label>
													<p data-method="check">Please send a Check to Store
														name with Store Street, Store Town, Store State, Store
														Postcode, Store Country.</p>
												</div> -->
												<!-- <div class="single-method">
													<input type="radio" id="payment_bank" name="payment-method"
														value="bank"> <label for="payment_bank">銀行轉帳</label>
													<p data-method="bank">Please send a Check to Store name
														with Store Street, Store Town, Store State, Store
														Postcode, Store Country.</p>
												</div> -->
												<!-- <div class="single-method">
													<input type="radio" id="payment_cash" name="payment-method"
														value="cash"> <label for="payment_cash">貨到付款</label>
													<p data-method="cash">Please send a Check to Store name
														with Store Street, Store Town, Store State, Store
														Postcode, Store Country.</p>
												</div> -->
												<div class="single-method">
													<input type="radio" id="payment_paypal"
														name="payment-method" value="paypal"> <label
														for="payment_paypal">信用卡</label>
													<p data-method="paypal">Please send a Check to Store
														name with Store Street, Store Town, Store State, Store
														Postcode, Store Country.</p>
												</div>
												<!-- <div class="single-method">
													<input type="radio" id="payment_payoneer"
														name="payment-method" value="payoneer"> <label
														for="payment_payoneer">Payoneer</label>
													<p data-method="payoneer">Please send a Check to Store
														name with Store Street, Store Town, Store State, Store
														Postcode, Store Country.</p>
												</div> -->
												<!-- <div class="single-method">
													<input type="checkbox" id="accept_terms"> <label
														for="accept_terms">I’ve read and accept the terms
														& conditions</label>
												</div> -->
											</div>
											<button class="lezada-button lezada-button--medium mt-30">結帳</button>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end page wrapper -->
</section>
<th:block th:fragment="extraJs">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- 如果還有你的頁面圖表初始化 JS，可放這裡 -->
    <!-- 郵遞區號、地址用（外部 CDN 保留） -->
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/jquery-twzipcode@1.7.14/jquery.twzipcode.min.js"></script>
	<script>
		$("#twzipcode").twzipcode({
			zipcodeBeforeCounty: true,             // 郵遞區號排在最前面
		    css: ['form-control', 'form-control', 'form-control'], // 讓 select 有 Bootstrap 樣式
		    zipcodeName: 'zipcode',
		    countyName: 'county',     // select 的 name 屬性
		    districtName: 'district'
		});
	</script>
  </th:block>
</body>
</html>
